[2020-11-05 17:21] elannon opened #218 "Trouble opening .MFF files"
### I am having difficulties opening .mff files with eeglab.  I get different errors at different times. I attached screenshots for both errors.

I am using the GUI to load the files.
I am using the "latest version of EEGLAB" (as is reported in the eeglab opening process)
I am using the plug in "MFFMatlabIO" v3.5.

![image](https://user-images.githubusercontent.com/73861114/98271792-2b9f5980-1f45-

[2020-11-17 15:28] bsalafia opened #221 "Problem in loading EEG file"
Hello, when I upload my EEG file in EEGLAB it requires me to enter some information in the image that I have attached. So, I was wondering if there is any specific answer to these questions or I have to ask the person who got this data?

![photo_2020-11-17_10-27-15](https://user-images.githubusercontent.com/74611025/99409580-875fd000-28bf-11eb-9088-d77ec16755e9.jpg)

[2020-11-21 09:45] miamaria27 opened #222 "Starting eeglab produces a warning when checking updates"
### Description

When I start eeglab with the command "eeglab" I get the warning:
"Warning: Out of range or non-integer values truncated during conversion to character.
(Type "warning off MATLAB:nonIntegerTruncatedInConversionToChar" to suppress this warning.)

Could not check for the latest EEGLAB version (internet may be disconnected).  "

Note that my internet is connected. Since in the line 11

[2020-11-21 14:50] FazlaMashrur opened #223 "Classify component using IClabel not working"
### I have done ica decomposition. Not I want to classify components using IC Labels. But it's not working.

[ Undefined function 'pop-iclabel' for input arguments of type 'struct'
Screen shot: https://www.dropbox.com/s/rxmlun6d24oaoli/Capture.PNG?dl=0
Dataset : https://www.dropbox.com/sh/gtlzjz8dw7bzsth/AAD3Wg4Lfhs9oeadnyGDZo5Ma?dl=0]

<br>
#### Steps to Reproduce

1. [*Load the data by clicking

[2020-11-25 18:59] Lbuesing opened #225 "plugin_status + plugin_askinstall: dependency check not working inside 'eegplugin_'-function"
### Description

I am working on an eeglab extension which needs another extension (fieldtrip) to work properly. Inside the 'eegplugin_' function I placed a dependency check:

if ~plugin_status('fieldtrip-lite')
    plugin_askinstall('fieldtrip-lite', [], false);
end

If eeglab is started with a clean workspace (PLUGINLIST not global yet), it creates an loop of not finding the fieldtrip extension,

[2020-11-26 18:21] arnevdk opened #226 "readneurolocs function undefined"
### Description

I use the loadcurry plugin to load a SynAmps Neuroscan `.dat` file.
While this imports most of the EEG-data and metatada, the `loadcurry` function does not load the channel locations.
The documentation of the `readlocs` mentions it can load channel locations from Neuroscan `.dat` files.
However, for `.dat` files `readlocs` tries to call a function called ` readneurolocs`, which do

[2020-11-26 18:27] arnevdk commented on #226
This mailing list thread seems to mention a version of the `readneurolocs` functions which was present at some point on the EEGLAB subversion https://sccn.ucsd.edu/pipermail/eeglablist/2012/005170.html

[2020-11-27 09:22] arnevdk commented on #226
The channel locations do get correctly loaded with loadcurry using Matlab r2020b instead of Octave

[2020-11-30 08:55] zzzznsrkl opened #227 "Error in function pop_loadbva()at line 48"
### Description

I'm attempting to import a bp file. The process fails with error:

EEGLAB error in function pop_loadbva() at line 48:

Quote "Channels" that does not exist

<br>
#### Steps to Reproduce
Inside eeglab
1. file>import data>from brain vision analyzer matlab file
2. click OK
3. error

<br>
#### Expected behavior:
import matlab file successfully

<br>
#### Actual behavior:
burst out an

[2020-12-01 10:32] behinger commented on #217
Hi!
Thanks for reporting. Can you share the dataset / a small version of it? Else it is hard to test.

[2020-12-01 12:21] AndersonAAU commented on #217
Hi,
Is it OK If I share the EEG workspace that got the error?
I think I can also share the EEGLAB and AMICA folders, but I need to know if you actually need it.
Best regards,
Anderson

From: Benedikt Ehinger <notifications@github.com>
Sent: Tuesday, December 1, 2020 11:33 AM
To: sccn/eeglab <eeglab@noreply.github.com>
Cc: Anderson de Souza Castelo Oliveira <oliveira@mp.aau.dk>; Author <author@nore

[2020-12-01 13:32] behinger commented on #217
Can you first share what is in "EEG.datfile" and can you confirm that file exists at that location?

[2020-12-01 13:34] behinger commented on #212
I think you should report this here: https://github.com/olafdimigen/eye-eeg

Also your report is missing lots of information right now (no attached files for instance). I would also recommend to provide the code you use to run it.

[2020-12-02 01:34] arnodelorme commented on #218
The issue is with the special character in the event. When renaming the events ev1 and ev2 (see event file Events_ECI TCP-IP 55513.xml below after renaming events) I can import the file.

There is nothing much to do as the problem is with the Java library so Magstim/EGI need to fix it. https://www.egi.com/

<?xml version="1.0" encoding="UTF-8"?>
<eventTrack xmlns="http://www.egi.com/event_mff" xml

[2020-12-02 01:34] #218 closed, assigned to nobody

[2020-12-02 01:43] #215 closed, assigned to nobody

[2020-12-02 01:44] arnodelorme commented on #221
You can just leave all options as default. You do not need to contact the person who collected the data.

[2020-12-02 01:44] #221 closed, assigned to nobody

[2020-12-02 01:52] arnodelorme commented on #222
Yes, I think it is due to using an old version of Matlab although I would need to see where the warning message originate from. If you type

dbstop if warning

Then execution will stop when the warning message is generated. You can then send me the line number.

I will close this bug for now, but please reopen it if you have a chance to send me the information above.
Thank you for reporting the pr

[2020-12-02 01:55] arnodelorme commented on #217
Copying @japalmer29 . This is a bug for Amica rather than EEGLAB so would be better suited for Amica Gihub issue

[2020-12-02 01:57] arnodelorme commented on #223
This is because you cloned the EEGLAB repository without its submodules I think. Let me check.

[2020-12-02 02:03] arnodelorme commented on #223
Hum, this does not seem to be the case. One reason for the problem would be starting EEGLAB and then removing paths manually. Otherwise, I do not know. I would need more context. I would try to reinstall EEGLAB and see if it fixes the problem.

Closing this report for now, but please reopen if you add more information or context.

[2020-12-02 02:03] #223 closed, assigned to nobody

[2020-12-02 02:06] arnodelorme commented on #225
Good question. Apparently, plugins are executed by alphabetical order.
So renaming your plugin folder with a letter than starts with after "f" fowercase could fix the issue.

But the solution I would use would be simpler. Simply do the check in the function called by the menu item not when the plugin starts. This is what other plugins do.

[2020-12-02 02:06] #225 closed, assigned to nobody

[2020-12-02 02:08] arnodelorme commented on #227
Would you mind to share the data file? Note that this function is only for Brain Vision Exchange Format data files not for Binary Brain Product files.

[2020-12-02 11:06] FazlaMashrur commented on #223
Thanks a lot. It is solved.

[2020-12-03 06:30] AndersonAAU commented on #217
Hi,
I think I solved the problem… my EEGLAB folder was located in my OneDrive directory and this was somehow interfering with the code.
I can re-create the issue if you think this is relevant. Otherwise I can also remove/close the issue in GitHub
Best regards,
Anderson

From: Benedikt Ehinger <notifications@github.com>
Sent: Tuesday, 1 December 2020 14.33
To: sccn/eeglab <eeglab@noreply.github.com

[2020-12-03 06:35] arnodelorme commented on #217
Good to know. Thanks for letting us know

[2020-12-03 06:35] #217 closed, assigned to nobody

[2020-12-04 06:05] usernameseong opened #228 "Errors occur when importing .BDF file in EGGLAB"
### Description
[*Description of the bug or feature
Attach a link to Dropbox or Google Drive with screenshots and your data if possible.*]

I conducted an experiment with 35 channels and got a .BDF file on Actiview.  (Image 1 is the screen of experiment data on Actiview during experiment.) But this resulted in 271 channels because of some mistakes on setting. So I want extract only 35 channels fro

[2020-12-04 06:10] arnodelorme commented on #228
Would you mind to share the BDF file?

[2020-12-04 06:35] usernameseong commented on #228
I'm sorry I cannot share the file now because of some personal information issues. Could you suggest other ways for solving this? Thanks.

[2020-12-07 11:02] Daisy-Ding1124 commented on #193
I'm facing the same problem. [OS: macOS Big Sur 11.0.1; Matlab version: R2020a; EEGLAB version: v2019.1] Has you found the reason now? I'd appreciate it a lot if you can share your solution.

[2020-12-07 11:25] Candidasfb commented on #193
Unfortunately, I did not have any solution. Please, let me know if you get it!

Thanks

[2020-12-07 13:06] #228 closed, assigned to nobody

[2020-12-08 08:54] Mermaidlegs opened #229 "Error when using xdfimport plugin to open multistreams xdf file"
### Description

When I was using xdfimport plugin to import the xdf data, after I put the stream name, stream type and exclude marker streams, the error shows that "Bracing is not supported for the variables in this type".

<br>
#### Steps to Reproduce

Please see the google doc for more details.
https://docs.google.com/document/d/1cGrUdacgLJMj5mNk-oY6EQseFqGVjy3YaPyelpG_Uts/edit?usp=sharing

<br

[2020-12-08 11:03] sappelhoff opened #230 "pop_saveset.m refers to .dat file: confusion with fdt?"
The documentation in `pop_saveset.m` refers to the option to save binary data to `.dat`.

I thought EEGLAB uses `.fdt` for that?

https://github.com/sccn/eeglab/blob/e8e5dfb76777281e0513dc36306c4631afe2acf1/functions/popfunc/pop_saveset.m#L19

Questions:

- Was `.dat` used in the past and has now been replaced by `.fdt`?
- Is the documentation in `pop_saveset.m` thus currently outdated?
- What doe

[2020-12-11 05:22] baharkk20 opened #231 "pop_eegplot() note: Baseline subtraction disabled to speed up display"
### EEGPlot

[*Couldn't plot the data
Attach a link to Dropbox or Google Drive with screenshots and your data if possible.*]
[https://vumc.box.com/s/27h8ux6goysxqbl6nd3e9gcv7pw0s6sf](url)
1. I imported the data that is collected at EGI net station
2. Marked the R wave
3. Plot -> channel data (scroll)

 I couldn't open the plot. When I try this is seen : 'pop_eegplot() note: Baseline subtraction di

[2020-12-11 15:34] MartinS071 opened #232 "Error occured in function datenum() at line 188"
Hi,

When I want to import a mmf file, I get this error DATENUM failed (Error occured in function datenum() at line 188).

This occurs only on one computer, it works on my other computer. All my MATLAB scripts and EEGlab plungins are in my Dropbox. I wonder if it may cause problem.

Regards,

Martin

[2020-12-17 18:18] RenzoLanfranco opened #233 "'Select epochs or events', amending events' time"
### Description

This isn't an issue but a suggestion for improvement. When you select an epoch or event (pop_selectevent()) in EEGLAB's GUI, it would be extremely helpful if you added an option to amend events' time. More specifically, to select one event that is found in all epochs and change their temporal location. Currently, EEGLAB only allows renaming event types. One example: if you have an

[2020-12-17 19:18] zachary6666 opened #234 "EEGLAB error in function pop-loadstudy() at line 105: Reference to non-existent field 'design')"
I try to load the example STUDY file in Chapter 04: STUDY Data Visualization Tools, but I come up with this error: EEGLAB error in function pop-loadstudy() at line 105: Reference to non-existent field 'design')

MATLAB version R2020a

macOS Catalina: 10.15.7

<img width="502" alt="Screen Shot 2020-12-17 at 2 18 33 PM" src="https://user-images.githubusercontent.com/76181050/102532953-c033c600-4072-

[2020-12-17 21:50] arnodelorme commented on #234
I have fixed this error in ba072c3d70c42beb04821dbe184887c781957685 . Thank you for reporting it.

[2020-12-17 21:51] #234 closed, assigned to nobody

[2020-12-17 22:06] #231 closed, assigned to nobody

[2020-12-17 22:28] arnodelorme commented on #231
What was the problem?

[2020-12-18 15:45] baharkk20 commented on #231
Hi Arnaud,

The data was collected at net station and marked for the heart beats but I couldn't plot when I load the .mff file. And then I figure out that when I load the .set file that is marked for heart beats, I could plot.
I had a new problem though and may be you could help with that or have an idea. The heartbeats marked through biopac and there is a shift at the marked beats (it is at -100m

[2020-12-20 08:40] arnodelorme commented on #229
I have requested access to the file. Sorry it took so long. What software did you use to collect the file?

[2020-12-20 08:41] arnodelorme commented on #230
It used to use .dat. I have updated the documentation. Thanks.

[2020-12-20 08:41] #230 closed, assigned to nobody

[2020-12-20 08:43] arnodelorme commented on #232
I do not think dropbox is the problem. Can you share the file?

[2020-12-20 08:45] arnodelorme commented on #233
Could you describe a little bit more what you would want to do with these modified events?

[2020-12-20 08:49] arnodelorme commented on #226
This is because you need to install the neuroscan plugin. This function is now distributed with the neuroscan plugin. I will move it back to the main EEGLAB distribution.

[2020-12-20 08:49] #226 closed, assigned to nobody

[2020-12-20 10:46] Mermaidlegs commented on #229
I have added your email account as editor to the file. Thank you so much. We used g.tec: https://www.gtec.at

[2020-12-20 16:39] MartinS071 commented on #232
Hi Arnaud,

I found out the issue. It is likely related to MATLAB version. MATLAB 2019b runs on the computer without problem. On the computer with this problem, MATLAB 2020a is installed. To solve the problem, I edited line 45 of pop_mffimport.m:

if datenum(matVer(1,1).Date) < 735595 % Martin change datenum(matVer.Date) pour datenum(matVer(1,1).Date)
    error('This version of Matlab is too old.

[2020-12-20 17:28] arnodelorme commented on #229
I saw the error in the document you shared. We would need access to the raw XDF file though. Thank you.

[2020-12-20 17:37] arnodelorme commented on #232
2019b is not old. If you share the file with me, I will add it to our list of files to test on, on Windows and Mac. But if you prefer not to do that, this is fine. I am closing the bug report right now.

[2020-12-20 17:37] #232 closed, assigned to nobody

[2020-12-20 17:41] MartinS071 commented on #232
I will be happy to share the file. This size is ~545 Mo. How can I share the file?

De : Arnaud Delorme <notifications@github.com>
Envoyé : dimanche 20 décembre 2020 12:38
À : sccn/eeglab <eeglab@noreply.github.com>
Cc : Martin Simoneau <Martin.Simoneau@kin.ulaval.ca>; Author <author@noreply.github.com>
Objet : Re: [sccn/eeglab] Error occured in function datenum() at line 188 (#232)

[Externe UL*]

[2020-12-20 18:34] arnodelorme commented on #232
Put it below (drag and drop)

https://drive.google.com/drive/folders/1yoJ19QN2uJOzyDs4eiD9T7dI7qDYs2Th?usp=sharing

[2020-12-21 10:16] sappelhoff commented on #230
Thanks Arno!

[2020-12-21 15:09] MartinS071 commented on #232
Arnaud,

I have downloaded the MFF file.

As I told you, matVer size was 1 x 2 thus it causes the error. This is related to a “Toolbox” called GLMLAB: fitting generalised linear models. It is not a MATLAB toolbox but a “toolbox” from MATLAB central. It seems that ver(‘MATLAB’) returns this toolbox while it ignores all other toolboxes. This might be due to a simple comma… see screen capture.

Thank

[2021-01-06 11:33] arnevdk opened #238 "Incorrect filename check in plugin_askinstall"
### Description

When calling `plugin_askinstall` from a script with the `force` install option set to false, the function executes the following check:

[code]

It checks if the  the function is either called directly from the command line, from within a script that is directly run, or from a script file named `checkouteeglab.m`. However, the stack structure returned by `dbstack` is of the format

[2021-01-06 18:28] arnodelorme commented on #238
Thank you for your detailed report. I have changed the field name.

This code snippet is useful for our test cases so the script continue to be executed even if the plugin cannot be found.

Thanks gain.

[2021-01-06 18:28] #238 closed, assigned to nobody

[2021-01-07 19:51] cll008 opened #239 "Cannot writelocs with type 'custom'"
https://github.com/sccn/eeglab/blob/d404c63d9d181c64f7e24ed242585d4d05ee5da3/functions/sigprocfunc/writelocs.m#L115

The check currently only allows for 7 named export types (which contain read format info). It's not a critical feature, and maybe the best thing to do is to drop 'custom' format support by removing the custom' option from the drop down in pop_writelocs().

[2021-01-07 21:20] arnodelorme commented on #239
Yes, sure. Let's do that. Can you push the change?

[2021-01-07 21:20] arnodelorme commented on #239
Let's keep it as an option on the command line though.

[2021-01-07 22:14] cll008 commented on #239
Oops, should've probably committed 3f45698 with Closes #239...

Fixed with commit 3f456989efc96e76f5ff18aa3eb864a7f1a672f7

[2021-01-07 22:14] #239 closed, assigned to nobody

[2021-01-08 11:47] arnevdk opened #240 "Plugin installation fails in Octave"
### Description

Due to java calls in `plugin_urlread` and `plugin_urlwrite` functions
and the use of libraries `com.mathworks.mlwidgets.io.InterruptibleStreamCopier`
and `com.mathworks.mlwidgets.html.HTMLPrefs.setProxySettings`, `plugin_install`
and `plugin_askinstall` cannot be used with GNU Octave.

<br>
#### Steps to Reproduce

1. Open Octave shell
2. start eeglab
3. `plugin_askinstall('Biosig

[2021-01-11 14:55] Jazelle759 opened #242 "Issue with epoch end (sec) when splitting continuous recording using eeg_regepochs"
### Description

I am not too sure if this is an issue or I misunderstood how to use eeg_regepochs.

After applying average reference to my continuous data, the epoch start (sec) is 0 and epoch end (sec) is 432.660.
I wanted to split the data into 10 seconds epochs so I tried using eeg_regepochs to split it.
I was hoping it will be divided into 43 epochs with each epoch start to be 0 and end to be

[2021-01-14 17:36] arnodelorme opened #243 "Channel location vhdr file"
Hello eeglab gurus,

I am processing EEG data by loading .vhdr files from BrainVision amplifier.
When I loaded the data into EEGLAB, I could not edit channel locations by
"Edit - Channel Locations", I would get an error message saying:

"*Operands to the II and && operators must be convertible to logical scalar
values.*

*Error in pop_chanedit (line 163)*
*if isempty(chans) || ~ishandle(chans)*"

[2021-01-14 18:50] bokiwang commented on #243
The data, header file, and VMRK files are included in the zip file. Thank you for your help!

[Channel Location files.zip](https://github.com/sccn/eeglab/files/5816374/Channel.Location.files.zip)

[2021-01-14 19:07] arnodelorme commented on #243
Hi Boki, I have downloaded and imported your data both in the dev version of EEGLAB and with EEGLAB 2020.0 using the BVA-IO plugin version v1.7.

1. Import menu "File > Import data > Using EEGLAB function... > From BVA .vhdr ...", then press OK with the defaults.
2. Then edit channel location Edit > Channel locations, press OK. Everything was fine.

Maybe you are using an old version of EEGLAB or

[2021-01-14 19:07] #243 closed, assigned to nobody

[2021-01-14 19:19] #240 closed, assigned to nobody

[2021-01-15 14:20] arnevdk opened #244 "EEGLAB startup crashes in Octave due to use of `ismcc`"
### Description

Matlab-specific variable `ismcc` and `contains` prevent EEGLAB from starting in Octave.

#### Steps to Reproduce

1. `octave eeglab.m nogui`

#### Expected behavior:

[code]

#### Actual behavior:

[code]

#### Versions

|   |   |
|----| ---- |
| OS version     | Fedora 33 |
| Octave version | 5.2.0 |
| EEGLAB version | develop@f118003 |

[2021-01-15 16:27] #244 closed, assigned to nobody

[2021-01-15 16:29] arnodelorme commented on #242
Yes, it is not a bug. It is because your samples have a specific length. In your case 1/250 = 0.004 s. So the latency of your first sample is 0, the second one 0.004, etc... However, even with 2 sample, the data length is 0.008 not 0.004. So sample at latency 0.996 is from time range 0.996 to 1.000

[2021-01-15 16:29] #242 closed, assigned to nobody

[2021-01-15 16:31] arnodelorme commented on #229
I can see the document now, but we would need access to the raw .xdf data file. The stream name is unlikely g.USBamp and this is likely the problem.

[2021-01-15 16:50] Mermaidlegs commented on #229
Attachment available until 14. Feb 2021
Dear Dr. Arnaud,
Please find the pdf file attached.
Thank you for the help.
Click to Download
 <https://www.icloud.com/attachment/?u=https%3A%2F%2Fcvws.icloud-content.com%2FB%2FAQPQszeXJXrt9rIrxRfLarlfR5zfAU-kmCRjNZZ92xDbGPW1qgGT5cHT%2F%24%7Bf%7D%3Fo%3DAi_LNwXH0AkXehtI5wIEKI5V2HxGEddJCccquTWeRS3D%26v%3D1%26x%3D3%26a%3DCAog-q0V0l7vUPjAmf_FlJOC-ZBOZg7gbJmGgHq9

[2021-01-15 19:35] bokiwang commented on #243
Yes you're right! once I updated to the latest EEGLAB and bva-io plug in,
everything worked. Thank you Arnaud!

Arnaud Delorme <notifications@github.com> 于2021年1月14日周四 下午12:08写道：

[2021-01-15 20:10] arnodelorme commented on #243
No prob

[2021-01-16 08:08] arnodelorme commented on #229
We have issued version 1.18 of the plugin, which contains a fix. Let us know if it works for you. Most likely g.tek does not save the data properly, but I am not going to argue.

[2021-01-16 08:08] #229 closed, assigned to nobody

[2021-01-17 02:12] SparshJ opened #246 "Error in Physical maximum and minimum values for EDF in writeeeg"
Hey!

While using the writeeeg function on a data matrix ( channels X samples), the resultant EDF shows different physical maximum and minimum values for different channels even though no such info is passed to writeeeg. This error occurs only for some subjects, whereas for other subjects the physical maximum and minimum values are identical across the channels. Please help!

Thanks!!

[2021-01-19 13:47] olafdimigen opened #247 "Compatibility of EEGLAB with "Matlab Online"?"
### Question: Are there any experiences (or successful attempts) with running EEGLAB on _Matlab Online_ (using the GUI)?

Issue: EEGLAB does not seem to run on "Matlab Online* (http://matlab.mathworks.com), due to GUI issues

#### Steps to Reproduce
1. Matlab Online is a tool to run MATLAB code in a browser environment that emulates Matlab
2. Compatibility with Matlab Online would be highly useful

[2021-01-19 16:52] RanWX opened #248 "Can't load a existing dataset if the dataset has no the field 'ref'."
### Description
When use a existing dataset without the field 'ref', the eeglab (current version) will give an error message "EEGLAB error in function eeg_checkset() at line 1042..."

<br>

#### Steps to Reproduce

1.  Use the  eeglab (current version) to open a existing dataset without the field 'ref'.

<br>

#### Expected behavior:

Load the dataset.

<br>

#### Actual behavior:

Can't load.

<b

[2021-01-20 05:20] arnodelorme commented on #248
Thank you. You are correct, I will review the code to see how this bug came to be.

[2021-01-20 05:20] #248 closed, assigned to nobody

[2021-01-20 07:06] arnodelorme commented on #247
Yes, I am able to reproduce some errors.
If I put breakpoints, sometimes they disappear. It seems to be a complex Matlab bug. I will report it to Mathworks.

[2021-01-20 07:06] #247 closed, assigned to nobody

[2021-01-20 07:09] arnodelorme commented on #247
<img width="1103" alt="Screen Shot 2021-01-19 at 9 08 54 PM" src="https://user-images.githubusercontent.com/1872705/105139652-9e2aca80-5a9a-11eb-9442-445fbee59cf7.png">

[2021-01-20 10:07] arnevdk opened #249 "Re-epoching crashes in Octave"
### Description

[*Description of the bug or feature
Attach a link to Dropbox or Google Drive with screenshots and your data if possible.*]

Re-epoching a dataset crashes in Octave, because `pop_epoch` uses the deprecated `strmatch` function. The output of this function is of the form [<number of matches>, 1] in Matlab and [1 <number of matches>] in Octave, which is not handled accordingly.

####

[2021-01-21 17:09] NicoBiagi opened #251 "EEGLAB error in function pop_loadbv() at line 87"
Hi, I tried to load a .dat file using the 'From Brain Vis. Rec. .vhdr or .adhr file' option from the bv-IO1.7 plugin.
I left both the 'Interval samples' and the 'Channels' blank because I was happy with the default values.

However, I get an error message saying: 'Output argument "CONF" 9and maybe others) not assigned during call to "readbvconf".

Could you please help me fix this error?

Many tha

[2021-01-21 17:22] arnodelorme commented on #251
Dear Nico, Would you mind to share your data files?

[2021-01-21 17:56] NicoBiagi commented on #251
Hi,

Thank you for your prompt reply.

I had to attach the data in .zip format because GitHub didn't let me add it as a .dat file

Best,
Nico
[Example_data.dat.zip](https://github.com/sccn/eeglab/files/5851199/Example_data.dat.zip)

[2021-01-21 18:17] arnodelorme commented on #251
Thank you. We would need the associated .vhdr and the .vmrk files as well to be able to run some tests.

[2021-01-21 18:30] NicoBiagi commented on #251
I don't have the .vhdr file, just the .vmrk file
[Example_data.vmrk.zip](https://github.com/sccn/eeglab/files/5851369/Example_data.vmrk.zip)

[2021-01-21 18:44] arnodelorme commented on #251
If you do not have these files, then the data cannot be imported. The files always come in 3 (a .dat, a .vhdr, and a .vmrk file). Best

[2021-01-21 18:45] arnodelorme commented on #251
The .vhdr is the header file and it is the most important. the .vmrk is the marker file (events) and it is optional.

[2021-01-21 18:45] #251 closed, assigned to nobody

[2021-01-21 18:52] NicoBiagi commented on #251
here is the .vhdr file relative to the example dataset I've sent you
[Example_data.vhdr.zip](https://github.com/sccn/eeglab/files/5851473/Example_data.vhdr.zip)

[2021-01-21 19:01] arnodelorme commented on #251
It is not a good idea to rename files because they refer to each other. When the files are named properly, they can be imported.

[2021-01-21 19:01] arnodelorme commented on #251
[Archive.zip](https://github.com/sccn/eeglab/files/5851508/Archive.zip)

[2021-01-23 02:15] #249 closed, assigned to nobody

[2021-01-25 18:20] denizdor opened #252 "EEGLAB 2021.0 release candidate"
Hello,

I am trying out the new version of EEGlab. I came across the following error while initiating eeglab.

**Undefined function or variable 'p'.

Error in eeglab (line 947)
        [dircontent(:).folder] = deal(fullfile(p, 'plugins')); **

1. Unzipped the Matlab version under my Matlab directory (Matlab 2016a)
2. Selected directory and typed 'eeglab' from the command window

| OS version: MacO

[2021-01-25 18:31] arnodelorme commented on #252
Thank you Deniz. This occurred because of the version of Matlab you are using. We have been able to reproduce the problem in Matlab 2014 and fixed it in 1326485a4 (replacing “p" by “eeglabp” on line 947). Thank you again for your contribution.

[2021-01-25 18:31] #252 closed, assigned to nobody

[2021-01-29 18:10] denizdor opened #253 "Error with plotting cluster ERPs - STUDY"
Hello Arnaud,

Thanks for helping me with my previous question regarding the problem I had with initiating EEGlab2021 on Matlab2016a.
Here I wanted to report a different problem, and I believe this was previously addressed but I can't seem to have it work even after following the corrections you recommended here: https://github.com/sccn/eeglab/issues/204#issue-690142677

I tried this on EEGlab 201

[2021-01-29 18:17] arnodelorme commented on #253
Hi Deniz, you need to make sure that you have different sessions for your subjects because if you just have one session, EEGLAB assumes that you need one ICA decomposition for all the data of that subject. Even so, if you have different ICA decomposition for the same subjects, the type of analysis you can do is limited. Let us know if that helps.

[2021-01-29 18:17] #253 closed, assigned to nobody

[2021-01-29 20:40] denizdor commented on #253
Thank you Arnaud!
So would you recommend that I split the datasets into 2 separate datasets, creating one for each condition and then run the ICA on each subsets, or run the ICA first and then split the datasets into 2 conditions and then create the study. I think I had read in the tutorial that the latter is better (running one ICA per subject)? Both conditions are part of the same task and recor

[2021-02-01 17:26] arnodelorme commented on #246
Would you mind providing an example demonstrating the problem? We will look into it.

[2021-02-01 22:13] SparshJ commented on #246
Sure!
I've attached the screenshot below:
![EEGLab](https://user-images.githubusercontent.com/29056035/106524432-90b90b80-64b0-11eb-921f-96c2236cc9ab.png)
As you can see, the physical max and min values are not consistent across the channels. As a result, its not possible to create bipolar montages by subtracting two channels. I think that the swrite function called by pop_biosig's writeeeg calcul

[2021-02-01 22:43] arnodelorme commented on #246
Would you mind sharing the file you are trying to export. It is unclear what the spreadsheet represents. @alois.schloegl@gmail.com what do you think?

[2021-02-01 23:00] SparshJ commented on #246
Hey! Here's the drive link to the file:
https://drive.google.com/file/d/1WYBXzYVLsp234j4DZwvo1c44UecmH-uR/view?usp=drivesdk

[2021-02-03 13:28] Mermaidlegs opened #254 "Some XDF files channels lost and frequency changed after imported"
### There are two problems I faced when using xdf import plugin 1.18

<br>
#### Steps to Reproduce

1. Import the xdf files by using xdf file import function
2. Some of the datasets are opened with 256 hz and 16 channels (right sampling rate and right numbers of the channels)
3. However, some of the datasets are opened with 1000 hz and 1 channel only
notes: we are sure that every dataset was recor

[2021-02-03 13:36] Mermaidlegs commented on #254
https://drive.google.com/drive/folders/1IALV3LAI1jUOM3pnatZcNwSwXnH6w6cC?usp=sharing

The link is here.

Thank you in advance.

[2021-02-14 19:33] SamehHanna opened #255 "Issue loading EDF/EDF+ files"
### Description
I am new to the EEGLAB (actually the whole EEG research). I am trying to load the dataset from https://physionet.org/content/eegmmidb/1.0.0/
The data is in the EDF+ format. While the channels are all read (64), it reads all as **one** epoch and **one** event. Also, no channel locations information. From what I understood it should contain the different events mentioned in the upper

[2021-02-15 00:48] isim95 opened #256 "EEGLab not recognizing AMICA plugin"
### Description

Running EEGLab 2020.0 on mac Catalina. amica1.5 folder is under the plugins path, and the amica15mac file permissions have been changed through terminal. However, when I open EEGLab from MatLab, I do not see AMICA as an option under 'Tools'.

<br>
#### Steps to Reproduce

1. Download eeglab & set up
2. download AMICA, place in EEGLab plugins folder, change amica15mac file permissi

[2021-02-15 01:43] arnodelorme commented on #256
Amica creates its own menu.

Tools > Run Amica

I have just installed the plugin from the plugin manager and I can see it. I did not have the change the permission to the amica15mac file either. It worked right away.

[2021-02-15 01:43] #256 closed, assigned to nobody

[2021-02-15 01:45] arnodelorme commented on #255
@amisepa this is a good problem to look into if you are interested

[2021-02-15 04:22] isim95 commented on #256
This doesn't work for me. I installed from the plugin manager and got the attached error. I've tried installing both ways and am unable to see the Run Amica option under Tools.

<img width="688" alt="Screen Shot 2021-02-14 at 8 22 18 PM" src="https://user-images.githubusercontent.com/75797725/107905023-587ae980-6f02-11eb-8325-2421a45794e1.png">

[2021-02-15 04:23] isim95 commented on #256
Apologies, forgot to thank you for the original response! Thank you!

[2021-02-15 04:55] arnodelorme commented on #256
Would you mind to try downloading it from this page?

https://sccn.ucsd.edu/eeglab/plugin_uploader/plugin_list_all.php

[2021-02-15 17:36] isim95 commented on #256
I got this to work, thank you, and apologies for the inconvenience.

However, I'm not getting the attached error when actually running amica that I'm not quite sure what to do with. Are you potentially able to help with this?
![Uploading Screen Shot 2021-02-15 at 9.36.19 AM.png…]()

[2021-02-18 16:56] SamehHanna commented on #255
Thank you for your help in advance @arnodelorme @amisepa.
In the meanwhile, Is there any work-around you could advise to read the files?

[2021-02-18 17:17] amisepa commented on #255
Hi,

I will look into it asap.
In the meantime, you could use EDF viewer to check that the information you are missing is actually in the files:
https://www.teuniz.net/edfbrowser/

Cedric

[2021-02-19 10:13] SamehHanna commented on #255
Hi Cerdic, @amisepa
I tried to load using EDF viewer, here is what I found.
first when I tried to open the file, it gave an error
![image](https://user-images.githubusercontent.com/48587085/108489947-764da300-72a2-11eb-9cb6-5bf1bf877dbd.png)

then when I used the Tools> Header Editor and selected the file (I just saved it without any changes in default values)
![image](https://user-images.githubus

[2021-02-19 12:13] Teuniz commented on #255
The file https://physionet.org/files/eegmmidb/1.0.0/S001/S001R01.edf contains only one annotation:

![image](https://user-images.githubusercontent.com/4106831/108502942-e4e72c80-72b3-11eb-87ef-57b109268ff6.png)

The file https://physionet.org/files/eegmmidb/1.0.0/S001/S001R08.edf contains 30 annotations:

![image](https://user-images.githubusercontent.com/4106831/108503030-01836480-72b4-11eb-8523-

[2021-02-19 19:02] amisepa commented on #255
Hi,

I have been trying the same thing with EDFBrowser, and I also think the problem comes from the files (which might not be a problem actually, we just need to know why these trials have only 1 event).

I opened the .event files with a text editor and you can easily see the difference between:
S001R01 and S001R02 that have only one event:
![image](https://user-images.githubusercontent.com/583822

[2021-02-19 19:07] amisepa commented on #255
I am going to look into why the events are all T0 instead of T0, T1, T2 though

[2021-02-19 21:04] amisepa commented on #255
Actually, they did provide some information about events, and they had to develop a separate annotation file for their software:
``The data are provided here in EDF+ format (containing 64 EEG signals, each sampled at 160 samples per second, and an annotation channel). For use with PhysioToolkit software, rdedfann generated a separate PhysioBank-compatible annotation file (with the suffix .event) f

[2021-02-19 21:21] SamehHanna commented on #255
Ok Great thank you for all you help. @Teuniz thanks for the clarification, I missed that (as I said I am new to the field). @amisepa Thanks for your continuous help. Please keep me updated regarding this.

[2021-02-21 19:13] sdaligau opened #257 "EMDLAB - missing functions"
Hi Support,

I get an error message when I run the process :
EMDLAB>run EMD>ok
The message says that the function 'runemdtrialbytrial' is not defined.
In the plugin directory I see empty directories EMD SEMD MEMD.
Is this normal?
Thank you in advance
Sebastien

| OS version     | centos7 64|
| Matlab version | R2017b |
| EEGLAB version | v2021.0 |

[2021-02-23 00:37] amisepa commented on #255
Here is a potential fix. I attempt 2 methods depending on whether you have Matlab 2020b with Signal processing toolbox, or Matlab <2020b and no Signal processing toolbox.

Please try:
1) download this attached pop_importedfevents.m function
2) add matlab path to it
3) import edf data with biosig toolbox as you did before with GUI or command line:
EEG = pop_biosig('C:\Users\IONSLAB\Desktop\eegplugi

[2021-02-23 02:54] arnodelorme opened #258 "STUDY file indexing"
Would you mind:
- Upload your entire study at
- Describe how to reproduce the problem step by step (from loading the data to when the bug occurs) with as many details as possible.

[2021-02-23 18:33] SamehHanna commented on #255
@amisepa Thank you Cedric, On the other hand, Could you check the file/link in your comment? Because for some reason I can't see the file/link anywhere in your comment even after I searched the whole repository for "pop_importedfevents.m" and couldn't find it.

[2021-02-23 18:38] amisepa commented on #255
@SamehHanna Sorry i forgot to provide the link to the file. Here it is: https://drive.google.com/file/d/1FQlS4kO3qG8uAhXZFH9juGqKR69irvpF/view?usp=sharing
Let me know if that doesn't work.

[2021-02-23 18:42] SamehHanna commented on #255
Great Thank you Cedric @amisepa. I will let you know once I try it.

[2021-02-23 22:52] denizdor commented on #258
Hello Arnaud and Cyril,

Here I am including all the codes for creating the study and then step by step screenshots/explanations of what I am seeing regarding the indexing issue.

Uploading the data and full analysis to Google drive:
1) "test" folder:  folder/filepath for original set files (there are 52 unique files but the study uses 47 of them), precomputed channel measures (per the code below)

[2021-02-25 00:31] amisepa commented on #233
@arnodelorme here is what he wanted to do and the solution I had sent him via EEGLABLIST (in case that can be helpful):

Renzo: Based on these event codes, I need to create new event codes for every
trial and print new codes at time zero that can comprise the previous event
codes. For example, if event code at time zero can be 1, 2 or 3, and
response code printed later can also be 4, 5 or 6., I no

[2021-02-25 09:23] SamehHanna commented on #255
Thank you Cedric @amisepa I managed to read the file and check the events following your instructions. here is a screenshot of it
![image](https://user-images.githubusercontent.com/48587085/109131914-8d353f00-7753-11eb-8eeb-f595d48d348a.png)

[2021-02-25 17:46] amisepa commented on #255
Hi,

Great. The changes are now merged with eeglab, so you can pull eeglab and use the usual Biosig import steps, just make sure you check the new box named 'Import using alternative BIOSIG method (mexSLOAD)'

Cedric

[2021-02-26 05:45] arnodelorme opened #260 "Fiducial when rereferenging"
Remove the fiducials from the list of channels to use as reference in the GUI.

[2021-03-01 09:55] SamehHanna commented on #255
Sorry for the late reply.
Great it is Working now. Thank you all for all your help and support I am closing with this comment now.
@amisepa @Teuniz @arnodelorme

[2021-03-01 09:55] #255 closed, assigned to nobody

[2021-03-01 11:27] ardian-m opened #262 "matlab and gui freezes when plotting in STUDY"
Hello all,

I am a student working with eeglab and recently, I updated to the newest version of eeglab, but I have encountered a problem. I have set up a STUDY with 2 conditions, each containing 5 datasets, and everytime I try to plot measures, MATLAB and the eeglab GUI freezes, this happens everytime I select the measures I want to plot i.e: ERPs or anything else.

I, also, have tried doing it th

[2021-03-01 21:09] amisepa commented on #168
Hi @greydongilmore, do you still have this issue?

If so, the EEGLAB EDF plugin has been recently updated and provides the option to use the mexSLOAD solution mentioned above. Just tick the 'Import using alternative BIOSIG method (mexSLOAD)'.

Let me know if that works.

[2021-03-03 00:28] arild-lab opened #263 "MFF bug with old EGI files"
When I try to import some EGI data recorded over 10 years ago (recorded with EGI System 200, 64 channels), I get this error:
"Block sample size problem,  (Error occurred in function mff_import() at line 93).
here's my matlab output:

You are using the latest version of EEGLAB.
Signal Block Version Number: 1
Signal Block Data Size: 11180
Signal Block Header size. 564
Number of Signals: 65
Signal Bl

[2021-03-03 00:30] arild-lab commented on #263
my example file was too big :-(

[2021-03-03 09:50] CPernet opened #264 "STUDY.design(STUDY.currentdesign).cases.value not valid with sessions"
### Description

Working on using sessions in STUDY - the problem arises when you do not have the equal number of sessions and/or use different session number.

<br>
#### Steps to Reproduce

1. I took the study from [data issue 258](https://drive.google.com/drive/folders/1lSThPxwKaFLNmNTMP3fN7tXLmZAghZKD)
2. STUDY subjects column now reads eg 60, 60, 57,57, 20,20, etc 21,23, 4,12 (note on purpose

[2021-03-06 22:29] denizdor commented on #258
Hello Arnaud and Cyril,

I have updated my eeglab/limo through GitHub (via a the links you shared), and tried this again on a small subset of data.
Here is what happens:

This STUDY.datasetinfo:
You can see that subject '3'(first row) has a trial info 1x87:
<img width="872" alt="Screen Shot 2021-03-06 at 10 03 01 AM" src="https://user-images.githubusercontent.com/77987574/110216329-6b2e7180-7e63-1

[2021-03-07 09:44] CPernet commented on #258
we need to see the screenshot of the STUDY because your file names, subject order, subject names are all different (while in BIDS it's all the same) -- which is where issue arises (because the way things get ordered inside STUDY)

[2021-03-08 20:47] arnodelorme commented on #257
We have contacted the author and added a note to the plugin. There is nothing more we can do at this point though.

[2021-03-08 20:47] #257 closed, assigned to nobody

[2021-03-08 21:24] arnodelorme commented on #260
Fixed in 74d40b0c2

[2021-03-08 21:24] #260 closed, assigned to nobody

[2021-03-08 21:28] arnodelorme commented on #262
Dear Ardi,

Would you mind trying the previous version and check that it does not freeze.

Also some considerations:
- Sometimes MATLAB gets into a weird state. Have you tried restarting MATLAB?

If the old EEGLAB version does not freeze and the new one does consistently even after restarting Matlab, please send us:
- Operating system
- Matlab version

Cheers,

Arno

[2021-03-08 21:29] arnodelorme commented on #263
Could you post it at (drag and drop)

https://drive.google.com/drive/folders/1FgNv9TuuEVHahs9mCfp5lgBpG7z0co71?usp=sharing

Thank you

[2021-03-08 22:00] arnodelorme commented on #264
I was able to recreate a STUDY with subjects HC and P, but not sure what to do with it. Will talk tomorrow.

[2021-03-09 08:42] ardian-m commented on #262
Dear Arno,

I have tried it in the previous version (STUDY and plotting that is), it did
work, not flawlessly but after glitching or restarting it did work in the end.

Yes, I have tried restarting MATLAB, but it still freezes. I use MATLAB 2020a
version, on a Windows 10 OS computer.

I can use the previous version, it wouldn't be a big deal switching back, but
still wanted to give my feedback.

B

[2021-03-09 12:30] CorentinWicht opened #265 "Cleanline and Blinker path broken with EEGLAB 2021.0"
Dear Arnaud,

I recently updated my old _EEGLAB v14.1.2b_ to the new _EEGLAB 2021.0_ version (many thanks for this update).
Nevertheless, I am encountering an issue I haven't seen earlier which seems to be specific to some plugins (e.g. _Cleanline 2.0_ and _BLINKER 1.1.2_).

While both plugins are up-to-date,  correctly loaded at EEGLAB startup and adequately included in MATLAB environment path, r

[2021-03-09 16:03] arild-lab commented on #263
I posted a single subject zipped mff file there that illustrates the bug:
211.mff.zip

On Mon, Mar 8, 2021 at 4:29 PM Arnaud Delorme <notifications@github.com>
wrote:

[2021-03-10 04:18] UgoBruzadin opened #266 "SIFT 1.52 crashes BSS"
The SIFT plugin has a function called pca that is a conflict with the matlab pca function. When I call BSS artefact removal, it crashes saying: "There must be exactly 3 outputs.," in line 139. Problem was solved once I changed the pca.m (inside SIFT plugin) function's name to pca2.m, or remove the SIFT plugin altogether.

[2021-03-10 15:14] faimai00 opened #267 "EEGLab EDF+ events misplaced and wrongly named"
### Description

I am loading EEG files in EDF+ format using the EEG = pop_biosig function (MATLAB_R2020b).
When I plot them (pop_eegplot(EEG)) the events appear all grouped at the beginning of the recording, and all have the same name. This should not be the case, as the events should be marking specific events across the file, and should also not all be named the same way.
The information contai

[2021-03-11 02:26] arnodelorme commented on #266
Thank you for your comment. I have moved this comment to SIFT repo.

[2021-03-11 02:26] #266 closed, assigned to nobody

[2021-03-11 02:38] arnodelorme commented on #267
Would you mind to share the EDF file. Cedric @amisepa  is our EDF expert :-). Cedric would you mind having a look?

[2021-03-11 03:03] arnodelorme commented on #265
It is interesting. These two plugins have issues with the internal version being different than the exposed one. I fixed it and also put Blinker on the EEGLAB plugin manager. However, I could not find the problem. The paths are added properly for me.

[2021-03-11 03:20] arnodelorme commented on #265
I have tried on Windows now and cannot see the problem either. I think it might have to do with a strange path configuration. Usually, you should just start EEGLAB and all the paths will be added. Let me know if you get more insight as to what the problem might be. I am closing this for now, but feel free to reopen.

[2021-03-11 03:20] #265 closed, assigned to nobody

[2021-03-11 08:53] faimai00 commented on #267
Of course - thank you so much @arnodelorme and @amisepa. Please find the EDF+ file here: https://drive.google.com/drive/folders/1SYpc6UMnbe-ip4lRB_cD_Eq1HCRP9e9I?usp=sharing

This is just one file, but I am having the same problem with all of the recordings I have.

Many thanks.
Irene

[2021-03-11 17:53] amisepa commented on #267
Hi,

During import, have you tried using the checkbox entitled "Import using alternative BIOSIG method (mexSLOAD)"?

Cedric

[2021-03-11 18:16] faimai00 commented on #267
Dear Cedric,

thank you for your email.
Sorry - I am not sure where I can find the checkbox. Could you please specify further?

Many thanks.
Irene
________________________________
From: Cedric Cannard ***@***.***>
Sent: 11 March 2021 17:53
To: sccn/eeglab ***@***.***>
Cc: Faiman, Irene ***@***.***>; Author ***@***.***>
Subject: Re: [sccn/eeglab] EEGLab EDF+ events misplaced and wrongly named (#267

[2021-03-11 18:21] amisepa commented on #267
It's in the pop-up window during importation:
![image](https://user-images.githubusercontent.com/58382227/110835142-449d7b80-8253-11eb-8164-047ecfe52f0a.png)

It's not working though I just tried with your file. You seem to have custom event names that contain spaces and are too long.  I'll work on an alternative solution asap.

Cedric

[2021-03-11 18:25] faimai00 commented on #267
Thank you so much - I really appreciate it.
Irene
________________________________
From: Cedric Cannard ***@***.***>
Sent: 11 March 2021 18:21
To: sccn/eeglab ***@***.***>
Cc: Faiman, Irene ***@***.***>; Author ***@***.***>
Subject: Re: [sccn/eeglab] EEGLab EDF+ events misplaced and wrongly named (#267)

You don't often get email from ***@***.*** Learn why this is important<http://aka.ms/LearnAbou

[2021-03-11 20:26] amisepa commented on #181
@arnodelorme Was this implemented? Because it may have the solutions to most issues we are having with annotations/events from EDF+ data. I looked at the files and have not idea how to implement it.

[2021-03-11 22:11] amisepa commented on #181
I have tried to implement eeglab-0002-add-mexbiosig-support.diff by copy-pasting the changes, but it's not working.
[pop_biosig.zip](https://github.com/sccn/eeglab/files/6126255/pop_biosig.zip)

[2021-03-11 22:22] arnodelorme commented on #181
Thanks for your effort. Let me know when it does work.

[2021-03-16 11:52] campusge opened #269 "pop_loadset back compatibility"
When I try to load a dataset using the command pop_loadset('full path of the datset')  it is seems not working  on EEGLab 2021.0 (it does not find the fdt file due a problem of file path, while it is still working perfectly with older EEGLab versions). this way of the command is used also in different EEGLab plugins and Matlab toolboxes working with EEGLab. I'm doing something wrong?
If not, may I

[2021-03-16 13:08] Falk8193 commented on #222
I have got the same problem but I am using Matlab version R2015a and EEGLAB 2020.
Maybe you could help me as well

P.S I have just started to work with Matlab and EEGLAB

[2021-03-16 22:53] arnodelorme commented on #269
Thank you for reporting that problem.
I am not able to reproduce the problem. Would you mind sharing your .set and .fdt file? You can put them in a ZIP archive and drag and drop them here (if the file is small).

[2021-03-16 23:02] amisepa commented on #267
Hi,

It should work now if you pull eeglab,

Let me know!

[2021-03-16 23:08] arnodelorme commented on #267
Cedric, I was looking at the 'makeur' command you mention erase the event structure. Would you mind to find an example. This command should not affect at all the event structure except for adding a "urevent" field.

[2021-03-16 23:16] arnodelorme commented on #181
@amisepa this is the modified file

[2021-03-16 23:16] arnodelorme commented on #181
[pop_biosig.zip](https://github.com/sccn/eeglab/files/6152731/pop_biosig.zip)

[2021-03-16 23:17] arnodelorme commented on #181
Use MELD or other tools to visualise changes https://www.git-tower.com/blog/diff-tools-windows/

[2021-03-16 23:21] arnodelorme opened #270 "EEG.task"
Create new field to handle the different tasks in BIDS.
- Update the pop_editset function with the new field
- Update the BIDS plugin to use it
- Update the STUDY functions

[2021-03-17 09:52] faimai00 commented on #267
Hi @amisepa, thank you for that. However after updating EEGLab I still cannot read the file properly. Nothing has changed. Did it work for you?

I am not sure if it is relevant but I don't have the option of importing using alternative BIOSIG method (mexSLOAD). I am using EEGLab 2021.0:
<img width="716" alt="Screenshot 2021-03-17 at 09 50 44" src="https://user-images.githubusercontent.com/63585229

[2021-03-17 11:15] faimai00 commented on #267
@amisepa may I please also ask if there is anything I can do differently in how I annotate and export the EDF+ files, or whether the problem is purely on the MatLab import end? Many thanks!
Irene

[2021-03-17 12:07] uyanbekardes opened #271 "EEGLAB error in function loadeeg() at line 141:"
#I have eeg data i will open it but i get this errorcode what can i do ?
![EEG](https://user-images.githubusercontent.com/46527832/111464910-b4af7400-8721-11eb-9751-31dc24e10295.png)

[2021-03-17 15:38] amisepa commented on #267
Do you use git?
You probably need to install eeglab with this command: git --recurse-submodules https://github.com/sccn/eeglab.git @arnodelorme is that why she doesn't have the new window?

Sorry I forgot to add to my message this piece of information:

Your data is EDF+D (discontinuous) so you need to convert it to EDF+C with EDFBrowser for example. Sorry, I don't have a better option for now so

[2021-03-17 17:14] faimai00 commented on #267
Dear Cedric,
Thank you very much for your help and detailed instructions. I have converted to EDF+C and the events are now positioned in the right place, however they still have all the same name.
I have cloned the repository, but I still can't see the new window for some reason so I cannot import using alternative BIOSIG method. Is that probably why the event names keep being incorrect?
Would you

[2021-03-17 17:34] arnodelorme commented on #271
Are you trying to import Neuroscan files? This function is only to import an old version of neuroscan files with the extension .eeg

[2021-03-17 17:52] amisepa commented on #267
Yes you need the new window to have the fixed annotations.

Did you use this line in your terminal to install eeglab?
`git clone --recurse-submodules https://github.com/sccn/eeglab.git`

I would delete the old eeglab folder, re-install using the line above, and make sure the Matlab path is updated to the new eeglab folder.

I think that is what you need to get the new changes.

[2021-03-17 19:30] arnodelorme commented on #263
It is strange. It seems that the end of the file switch from 65 to 129 channels. The importer does not support this kind of file. It would be possible to import the beginning (or the end) of the file only but this is such a special case, I do not think it is worth the effort.

[2021-03-17 19:30] #263 closed, assigned to nobody

[2021-03-17 19:54] arild-lab commented on #263
Hi Arnaud,
that's weird--this is a set of 30 participants recorded on an EGI 200
system with GSN adult 65 vs.2 electrode net.
There should be no switch to 129 channels at the end, unless something has
happened somewhere in the path from the EGI format to matlab... Can I give
you the original raw session files instead?
Arild

On Wed, Mar 17, 2021 at 3:30 PM Arnaud Delorme ***@***.***>
wrote:

[2021-03-17 20:03] amisepa commented on #181
Done. I sent a pull request. It is working on my side.

[2021-03-17 20:05] arild-lab commented on #263
hi, ok, I checked a few more files and correct--they have multiple sensoy
laouts--must have been an error during data collection. The issue
disappears when segmenting in Netstation (which does not complain!). I will
post a file that does not have the issue (but maybe that one will
import without problem, I have to test).
Arild

On Wed, Mar 17, 2021 at 3:54 PM Arild Hestvik ***@***.***> wrote:

[2021-03-17 20:20] arild-lab commented on #263
I reran EEGLAB's mff import with a file that I know do not have the
extra montage at the end, and now get another error:

You are using the latest version of EEGLAB.
Signal Block Version Number: 1
Signal Block Data Size: 4160
Signal Block Header size. 564
Number of Signals: 65
Signal Block Samples: 16
Sample Rate: 200
Signal Depth: 32
---------------------------------
Optional Header type: 1
Optio

[2021-03-17 20:26] arild-lab commented on #263
Here;s a file without the extra sensor layout at the end--it still does not
import wtht the latest MFF:
https://drive.google.com/file/d/1bpE4xeWks5jWLRb8PqeIG_XMcfzqdUpC/view?usp=sharing

On Wed, Mar 17, 2021 at 4:05 PM Arild Hestvik ***@***.***> wrote:

[2021-03-17 20:59] arnodelorme commented on #263
Unfortunately, the event file has nonstandard characters (EEG_events_DIN_1.xml). This is a limitation of the EGI JAR library that EGI provides. Removing the special characters in a text editor fixes the issue.

https://drive.google.com/file/d/1bC7m5FRGTnQ20pRHQ-O3hJcD5gkSdH-q/view?usp=sharing

I cannot fix the issue. I would need to create a program to remove the special characters. I will let the

[2021-03-17 22:02] uyanbekardes commented on #271
yes i try to import eeg. data how can i open it ?

[2021-03-18 15:15] faimai00 commented on #267
Dear Cedric,

thank you very much for this. I have done what you said and I am able to see the new changes now.
I am so sorry to bother with this, but I am experiencing more problems and I still cannot get to open the files correctly.

Initially I could not tick the box "Import using alternative method" because of an error message saying that mexSLOAD was not installed. I have then downloaded mexS

[2021-03-18 18:54] amisepa commented on #267
Hi,

You don't need to download the mex files, they are already in the Biosig plugin in eeglab when you install it.
It might be due to an update we did yesterday to improve this function.

Are you on Mac or Windows? Did you install the bisoig toolbox via eeglab GUI first?

It is working on my side now, I followed these steps:

1) Convert EDF files to EDF+C. This should give you 5 files right?
![im

[2021-03-19 08:39] shutli1127 opened #273 "EEGLAB error in function eeg_autocorr_fftw() at line 27"
[ED1_P.zip](https://github.com/sccn/eeglab/files/6169746/ED1_P.zip)

### Description

Undefined function 'resample' for input arguments of type 'double'
I cannot use the 'Tools - Classify components using ICLabel - Label components' in the EEGLAB

<br>
#### Expected behavior:
I want to give the component figure and justified score after ICA.

<br>
#### Actual behavior:
There is an error

<br>
####

[2021-03-19 12:52] faimai00 commented on #267
Hi. I am using mac (OS version | 10.15.7 (Catalina)). I did install biosig via the eeglab GUI. It shown within matlab plugins as Biosig3.7.5.
However no luck unfortunately.... It looks like the mexSLOAD file is not there (see screenshot). Can it be a problem with the files I get from the EDF converter? I get those 5 files with exactly the same naming you have, but EDFBrowser cannot read them (see

[2021-03-19 14:37] Teuniz commented on #267
Sorry for barging in like this.
You are probably using an older version of EDFbrowser.
Please make sure you are using the latest version of EDFbrowser and convert the files again.
At this moment, the latest version is 1.82.
Older versions can create invalid EDF+ files when using the EDF+D to EDF+C converter, depending on the content of the recording field.
From here it seems you are probably using

[2021-03-19 14:57] faimai00 commented on #267
Dear Teunis,
thank you for that. Unfortunately the last version available that I can see for mac is v1.77. I will see if I can find a way around this somehow.
So do you think that the problem is actually the way the EDFs are created, rather than anything on eeglab then?
Many thanks for your great help @amisepa and @Teuniz, I really appreciate it!

[2021-03-19 15:23] Teuniz commented on #267
I don't know but it's likely.
You can compile EDFbrowser from source, there's a howto at the end of the README file that comes with the sourcecode that describes how to compile on the Mac.
Otherwise, run the Linux- or windows version in a virtual machine.

[2021-03-19 15:55] amisepa commented on #267
Hi,

Thanks @Teuniz for helping on this, I don't know the details about EDFBrowser.

1) step 1: @faimai00 I can read them successfully in Windows version 1.82. Can you compile it from source as Teuniz suggested?

2) step 2: @arnodelorme I think you added recently the correct mexSLOAD for Mac. Faimaz gets an error saying it is not installed in her Biosig toolbox (see above), could you please check

[2021-03-19 18:02] faimai00 commented on #267
Hi Cedric,
many thanks. I have just downloaded the signal processing toolbox so very happy to try any alternative method in the meantime @amisepa .
I will try to compile EDF browser from source tomorrow anyways and see what happens.
The directory you kindly gave in point 2 does not actually include a file for mac in my folder so if you could point me to the right file @arnodelorme I would be reall

[2021-03-22 23:55] arnodelorme commented on #273
Missing signal processing toolbox

[2021-03-22 23:55] #273 closed, assigned to nobody

[2021-03-22 23:56] arnodelorme commented on #271
This is not the correct menu for the file you have. You should describe your files and send a message to the eeglablist@sccn.ucsd.edu

[2021-03-22 23:56] #271 closed, assigned to nobody

[2021-03-24 17:57] campusge commented on #269
Some more info: it seems that the problem could be related to the new mode of saving a single file for datasets. when you use the new mode it is ok. when you use the old split between .set and fdt, if you launch pop_loadset from within the same directory containing both .set and .fdt it is still ok. instead if you are e.g. into eeglab directory and you lounch pop_loadset pointing to a different di

[2021-03-24 18:21] arnodelorme commented on #269
I have tried.

1. Saved a dataset in 2 files (.set and .fdt)
2. Go to a random folder
3. Load the file from the GUI

It worked. Did you do anything different? Let's get to the bottom of this. It is important. Thank you for your assistance.

[2021-03-25 05:41] campusge commented on #269
yep also for me it is working from the GUI, the problem occurred when I tried the same thing using the command line (or when scripting), when your curent folder is folderA, having the fdt and set in folderB, typing in command line pop_loadset using the full path with extension of the set file, e.g. EEG = pop_loadset(fullfile(folderB,[name_file_set,'.set'])) it gives me the error

[2021-03-25 06:39] arnodelorme commented on #269
OK, I was able to reproduce the problem.

[2021-03-25 06:44] campusge commented on #269
good. thank you very much for your patience. The problem does not occur if you use the command pop_loadset([name_file_set,'.set'], 'filepath',folderB ), while the full path of the file was earlier working as a unique argument, now it seems that the path is removed at a certain point (maybe in the checkset?) and so the function is assuming that the fdt is in the working directory (not in the direct

[2021-03-25 06:46] arnodelorme commented on #269
OK, I have fixed it in 4faabcc35
If you pull the latest changes, it should work.

[2021-03-25 06:46] #269 closed, assigned to nobody

[2021-03-25 09:44] faimai00 commented on #267
Dear @amisepa and @arnodelorme, just checking if there has been any progress with this? Thank you!

[2021-03-26 09:10] RaphaelCertain opened #274 "EEGLAB: Error in function pop_runica()"
### Description

[Hello,
I am conducting pre-processing on EEG recordings and when trying to "Decompose data by ICA" I get an error message indicating "_EEGLAB error in function pop_runica() at line 412 :
Output argument "sphere" (and maybe others) not assigned during call to "runica"_."
Did you already had this error before?

Thank you very much,
Raphael ]

<br>
#### Steps to Reproduce

1. [*Firs

[2021-03-26 14:32] shutli1127 opened #275 "Error to use ICLabel"
### Description

[*EEGLAB error in function eeg_autocorr_fftw() at line 27: Undefinded function 'resample' for input arguments of type 'double'*]

<br>
#### Expected behavior:
[*Use ICLAbel in EEGLAB to check each independent component after ICA*]

<br>
#### Actual behavior:
[*Error present, but I have installed Signal Processing Toolbox*]

<br>
#### Versions

|   |   |
|----| ---- |
| OS version

[2021-03-28 07:48] CPernet commented on #264
we solved that - rewriting std_limo tmp file loop

[2021-03-28 07:48] #264 closed, assigned to nobody

[2021-03-28 07:48] #258 closed, assigned to nobody

[2021-03-29 10:56] faimai00 commented on #267
I have now converted the files to EDF+C with the latest version of EDFbrowser for Windows. That appears not to be the problem as I get the same error messages regarding mexSLOAD not being installed. If I install the mexSLOAD Mac file myself from https://pub.ist.ac.at/~schloegl/src/mexbiosig/, the error message I get regards the mex file being invalid.
Thank you.

[2021-04-01 01:52] amisepa commented on #267
Hi @faimai00,

Sorry, been very busy!

I have worked on the alternative method when I could, but it was harder than I thought because of the discontinuous nature of your data (mainly with the event latencies). Just curious, what system is this?

I've come up with this script attached that works only with the **Signal Processing Toolbox on Matlab 2020b** or later. You don't need to convert to EDF+C

[2021-04-01 12:06] nucleuscub opened #277 "Option 'verbose' in pop_epoch is ignored"
### Description

Input of option 'verbose' in pop_epoch is ignored. This option is indeed not used in the code.

[2021-04-01 12:11] nucleuscub commented on #277
@arnodelorme, I can fix this so we indeed suppress any print, or remove the option. I find the verbosity of the function in demos a bit annoying, so it would be nice to have the option to shut it down. However, any option is good as long as we are consistent. Let me know.
Cheers,
R

[2021-04-01 14:50] faimai00 commented on #267
Dear Cedric,
thank you very much for all your work and for coming up with this!
I have tried it. The order of the labels across the recording seem fine, however I think that the events are still getting misplaced. In the past week I have tried an edf import function that a colleague of mine has written, and there is discrepancy between where the events get positioned (see screenshots).

Based on o

[2021-04-01 22:58] amisepa commented on #267
Hi,

Sorry I got the sampling rate wrong. The latencies are in ms, so you would have the following latencies in seconds with the correct sample rate: 1.998; 2.808; 2.92; etc.
Here is it is fixed.
[import_EDFplusD.zip](https://github.com/sccn/eeglab/files/6246829/import_EDFplusD.zip)

Maybe I missed something, but I believe your latencies are incorrect. The durations between events seem to correspo

[2021-04-02 20:22] cll008 opened #278 "BIDS installation through plug-in manager: wrong folder hierarchy"
When installing bids-matlab-tools5.3.1 through the EEGLAB gui, the files are nested in `plugins\bids-matlab-tools5.3.1\bids-matlab-tools5.3.1` (also `plugins\bids-matlab-tools5.3.1\_MACOSx` is downloaded). A couple other plug-ins install normally.

| OS version     | [Win 10] |
| Matlab version | [2019a |
| EEGLAB version | [2021.0] |
bids-matlab-tools@5.3.1

[2021-04-03 00:08] arnodelorme commented on #278
Would you mind to try to put them in a new ZIP and resubmit the plugin?

http://sccn.ucsd.edu/eeglab/plugin_uploader/version_update.php

Arno

[2021-04-03 00:27] cll008 commented on #278
Done

[2021-04-03 00:27] #278 closed, assigned to nobody

[2021-04-06 06:32] Teuniz commented on #267
I just wanted to inform you that some volunteer has released EDFbrowser 1.83 for the Mac.
(which solves the described problem)
You can find it here:
[https://gitlab.com/whitone/EDFbrowser/-/releases](url)
or here:
[https://formulae.brew.sh/cask/edfbrowser#default](url)

Best,
Teunis

[2021-04-06 19:05] Nyx333 opened #279 "rounding problem in eeg_point2lat"
On line 102, the code is newlat = round(newlat*1E9)*1E-9. When I run this line of code, I get rounding errors, and problems further down the track. However, when I run:  newlat = round(newlat*1E9)/1E9, I dont get rounding problems or problems further down the track. I honestly dont know why it matters, but apparently: (round(newlat*1E9)*1E-9)==(round(newlat*1E9)/1E9) always comes out as false, wit

[2021-04-09 09:50] faimai00 commented on #267
Dear Cedric,

Thank you so much for adjusting the sampling rate. You are right, the latencies obtained with your function are correct! I have also managed to compare them with the original files in Natus and they do correspond. I can read most of the files with the correct annotations! Thank you!

Just one thing - I am testing the function with different files I have (all edf+) and it seems like I

[2021-04-13 08:43] qwezy923 commented on #141
Hello, I also got stuck in this issue, and tried your method from #119, but I cannot find the path to signal processing toolbox.
After running usepwelch = license('checkout','Signal_Toolbox') , I still got usepwlch = 1.
Thanks.

[2021-04-13 17:35] amisepa commented on #267
Hi,

Yes I made the function based on your discontinuous EDF+D file.

How is this file different than the other EDF+D file I worked on?

Thanks for sharing the files, I will see if I can adjust the function for these other files when I have some time (could be in a few weeks just so you know), and potentially make a new EEGLAB plugin from it if it works well.

Thanks,
Cedric

[2021-04-14 10:31] faimai00 commented on #267
Dear Cedric,

I am not sure how these files differ from the other EDF+D file you worked on. I tried to find out but I cannot pinpoint any specific factors unfortunately. If you could have a look, that would be great thank you.

Re: EDF+C files: would there be an easy way for your function to read these as well? With biosig mexSLOAD not working on mac, I am unable to read these unfortunately.

Than

[2021-04-14 17:27] amisepa commented on #267
Ok.

Yes, I will add the option in my function, it is much easier than EDF+D as it is continuous.

I'll let you know when it's done.

Cedric

[2021-04-16 17:57] olafdimigen opened #281 "Bug in newtimef() when using old output format (minor, legacy)"
When using the old output format option of the current version of `newtimef`, that is

`'outputformat','old', % newtimef input parameter`

...this produces an error on line 1444 of newtimef():

`if strcmpi(g.scale, 'log'), mbase = 10^(mbase/10); end`

[code]
To my (superficial) understanding, I believe this should be the element-wise operator, that is:

`if strcmpi(g.scale, 'log'), mbase = 10.^(mb

[2021-04-17 23:42] amisepa commented on #267
I've made it compatible for continuous data: [import_EDF.zip](https://github.com/sccn/eeglab/files/6330214/import_EDF.zip)

However, I realized that there may be DC offset differences between segments of the discontinuous data (EDF+D data) that needs to be corrected. I'll make a plugin soon with this problem fixed when I have some time.
In the meantime, you may add boundaries manually with `pop_ee

[2021-04-19 08:11] furongdan opened #282 "Apple chip Macbook uses eeglab, the bug appears when saving"
Matlab 2020b on windows will not report an error when using eeglab, but an error will be reported when using the Apple chip MacBook Matlab2020b.

The specific operation is import data, select data, channel location, re-reference, extract epochs, filter the data, decompose the data by ICA.

when click ''save current data as'', the window''eeglab error'' will be discovered.

thans for your reading.

[2021-04-19 09:21] furongdan commented on #282
oooooo,The problem is solved, just delete that folder.

[2021-04-21 13:11] faimai00 commented on #267
Dear Cedric,

thank you so much for making the function compatible with EDF+C. Also, thank you in advance for working on the plugin that will correct the DC offset changes. If you could notify when this is done I would be grateful so I can switch from using the manual method you kindly suggested.

All right - I will look into the problem with the other EDF+D files separately and log an issue.

I a

[2021-04-23 23:20] arnodelorme commented on #282
Looping @robertoostenveld here. The issue is with the overloaded abs function. You should remove the File-IO path for now and see if it works better.

[2021-04-23 23:23] arnodelorme commented on #281
This is correct. I have implemented the fix. 5129ce7ff

[2021-04-23 23:23] #281 closed, assigned to nobody

[2021-04-23 23:25] arnodelorme commented on #279
Thanks, we have implemented the fix a7cdc2edb

[2021-04-23 23:25] #279 closed, assigned to nobody

[2021-04-23 23:29] arnodelorme commented on #275
This is because you need to have the signal processing toolbox. We have added a warning message.

[2021-04-23 23:29] #275 closed, assigned to nobody

[2021-04-23 23:31] arnodelorme commented on #274
Apologies for the late reply. We have not seen this error before. This is likely because the data is empty or contains 0 (at least one channel) (my best guess). Send us your data if this is not the case, and we will have a look.

[2021-04-24 10:08] robertoostenveld commented on #282
Those uint64 mex files should not be used any more with recent MATLAB versions. They are also not released any more with the FieldTrip `fileio` module, but it appears that you are using a version from 2015.

Mathworks implemented proper support for the uint64 data type already quite some time ago, so it now has its own `abs` function that works on uint64. Indeed just delete the `@uint64` folder.

[2021-04-25 14:50] Danbeniamini opened #283 "event file 'non existent 'latency'' error"
Hi, I am working with EEG data recorded with EGI.
The data is in a .bin file, and while I manage to open it with pop_fileio, the events arent imported.
Hence I am trying to open the event file from the menu- but I get the error- 'reference to non-existent field 'latency''

Can you help? How should I solve this?

event file (originally xml file uploaded as docx)

[ev.docx](https://github.com/sccn/e

[2021-04-25 17:52] arnodelorme commented on #283
Would you mind sharing the data file. Tx Kay.

[2021-04-26 08:00] Danbeniamini commented on #283
The data is at
https://www.dropbox.com/sh/k7vy5fcf554hf2h/AAB95LHQyCYUWOu63zaMAScqa/raw_data/visual%20detection/EG3_X_test_vis_sc.dsmp/signal1.bin?dl=0

(hope dropbox is ok, couldn't upload as its too big...)

[2021-04-26 12:41] widmann opened #284 "eeg_eegrej: misleading warning if two events on last sample"
### Description

When removing regions from a file with two valid events on the last sample a warning is thrown:

[code]

The event is not actually deleted from the resulting dataset, thus not really harmful, but the error message is troubling and tracking down the problem is cumbersome.
<br>

#### Steps to Reproduce

1. Add two events at the last sample
2. Remove an arbitrary region from the data

[2021-04-26 14:42] widmann opened #285 "Enhancement: allow MATLAB file format version 7 in pop_saveset"
### Description

pop_saveset currently allows only MATLAB file format versions 6 and 7.3.
- Version 6 does not include compression
- Version 7.3 is HDF5 based. HDF5 has problems saving structures in general and structures within structures in particular (as for example event structure in EEG structure) blowing up on disk file size beyond reasonable limits. The MATLAB HDF5 implementation appears to

[2021-04-27 08:54] santonial opened #286 "EEGlab study - plot channel measures (average potentials)"
Good morning,

I am currently working with ERP data using EEGlab study GUI. I want to use the "plot channel measures" option to plot averaged potentials of selected channels and display statistics. If I select up to five channels, the output displays the statistic correctly as in the image:
![Immagine1](https://user-images.githubusercontent.com/83275467/116212682-5ecce380-a745-11eb-899f-a72e7ed232

[2021-04-28 11:56] tsgouvea opened #287 "'Load existing dataset' fails for using old path"
### Description

`Load existing dataset` worked fine once. In the next usage (days later), after using file dialog to select a `.set` file located in a different directory, it fails for searching for the new file in the old directory.

#### Steps to Reproduce

1. Place .set files (and corresponding data files) in two separate directories
e.g. `/dir1/file1.set` and `/dir2/file2.set`
2. Load `/dir1/

[2021-04-28 21:54] arnodelorme commented on #283
I have looked at the file, but it does not seem readable using either the EGIPLUGIN (legacy), FILE-IO, or BIOSIG. I would suggest using the MFF EGI format instead. If you absolutely want to import these specific files, I can point towards contractors you could hire to assist you.

[2021-04-28 21:54] #283 closed, assigned to nobody

[2021-04-28 21:56] arnodelorme commented on #287
Let us have a look

[2021-04-28 21:57] arnodelorme commented on #286
I understand. This seems like an easy fix. Let us look into it.

[2021-04-30 01:32] arnodelorme commented on #286
This has been fixed in the GitHub version 3eb7b4b03
Thank you for reporting the problem

[2021-04-30 01:32] #286 closed, assigned to nobody

[2021-04-30 01:55] arnodelorme commented on #285
Thank you Andreas. I have applied the patch. ceb4e88

[2021-04-30 01:55] #285 closed, assigned to nobody

[2021-04-30 02:03] arnodelorme commented on #284
This is a good point. I have added a check for the event type when the field is present in 4cf00d819

[2021-04-30 02:03] #284 closed, assigned to nobody

[2021-04-30 02:08] arnodelorme commented on #277
Yes, please do. Thanks, Ramon.

[2021-04-30 02:08] #277 closed, assigned to nobody

[2021-04-30 02:10] arnodelorme commented on #277
Did it in 6c666c1aa

[2021-05-03 23:28] arnodelorme commented on #282
So the solution is to update Fieldtrip.

[2021-05-03 23:28] #282 closed, assigned to nobody

[2021-05-04 06:31] Teuniz commented on #246
As a workaround, use the tool "Unify resolution", it's in the Tools menu of EDFbrowser.

https://www.teuniz.net/edfbrowser/EDFbrowser%20manual.html#Unify_resolution

[2021-05-04 19:47] arnodelorme opened #289 "Add shield to README"
See example in Ramon's repo

https://github.com/sccn/PACTools

Also add Youtube, Facebook, Twitter, and Linkedin.

[2021-05-06 04:39] Allexxann opened #290 "STUDY visualisation is slow"
Just switched from pre-2019 to the latest version.
I have to plot ERPs for many different channel combinations and designs in one go. Previously it was trivial, each time it took 1-5 minutes to plot, depending on number of channels and files in the STUDY.
With the switch to single-trial it takes forever. I guess, it's because of the size of .daterp files.
Is there any way to speed up the process?

[2021-05-07 09:18] CorentinWicht opened #291 "Std_readfile error when "data of a subject is split across sessions""
### Description

This issue was already (wrongly) described in the [mp_clustering Github page](https://github.com/sccn/mp_clustering/issues/1).
In fact, the issue is directly related to the behaviour of `std_readfile` when the **data of a subject is split across sessions** (i.e. `if iscell(fileBaseName)`, line 93).

<br>
#### Steps to Reproduce

The example here includes 3 files (i.e. 3x within-su

[2021-05-07 09:45] CorentinWicht commented on #291
Also I found out regarding the concatenation of arrays that from lines 108 to 110:

[code]

the argument of the **if** and **elseif** functions (i.e. `ndims(measureDataTmp{iData}{iCell}) == 2`) are exactly **the same**.

[2021-05-07 17:00] cll008 commented on #254
Hi @Mermaidlegs, thanks for the clear documentation on your google drive. Are you still running into this issue?
I took a quick look and it seems the problem is with the recording settings rather than EEGLAB import function. In the sample data you sent, the dataset with 1 channel and 1000 Hz is from an ECG channel. Is it possible that the wrong subset of channels were recorded?

[2021-05-07 17:03] Allexxann opened #292 "EETrak errors"
Sometimes people mistakenly configure recorders for this format with tabs instead of spaces (see attachment), and standard readeetraklocs function fails to read the coordinate files made with such configurations.
I've adjusted the function to be able to process both versions correctly and want to share it.

https://1drv.ms/u/s!Avk0-H-bAv5AgQOZLXASK1PSl8bm?e=QLpIYy
https://1drv.ms/u/s!Avk0-H-bAv5Ag

[2021-05-07 20:02] a-hurst opened #293 "Citation for eeg_interp's spherical interpolation method?"
### Description

I've been doing some work with the PREP Pipeline for EEGLAB, and noticed that it uses two separate methods of spherical spline interpolation, specifically [`sphericalSplineinterpolation.m`](https://github.com/sccn/clean_rawdata/blob/master/private/sphericalSplineInterpolate.m) from the `clean_rawdata` EEGLAB plugin and `eeg_interp.m` from EEGLAB itself. Surprisingly, I've noticed

[2021-05-10 12:58] saskianijmeijer opened #294 "cannot load .cnt data"
### Description

Loading the .cnt data file using pop_loadcnt(EEGfile) does not work. Different .cnt files result in differnt errors. 4 different datafiles of 2 subjects can be found here: https://www.dropbox.com/sh/picap3jzcgrsnm3/AACohZNJnJNCBXqF-BeHig56a?dl=0

<br>
#### Steps to Reproduce

1.  pop_loadcnt(EEGfile)

<br>
#### Versions

|   |   |
|----| ---- |
| Matlab version | 2020a|
| EEGLAB v

[2021-05-10 23:14] cll008 commented on #254
I'll close this for now but please reopen if necessary. Thanks.

[2021-05-10 23:14] #254 closed, assigned to cll008

[2021-05-10 23:30] arnodelorme commented on #267
Cedric, any more feedback. Can we close this report?

[2021-05-10 23:34] amisepa commented on #267
Yes we can close it, I just need to make a new plugin with this alternative method that uses Signal Processing Toolbox with Matlab > 2020a.

[2021-05-11 03:46] arnodelorme commented on #291
I have looked at the script and the data you sent. It seems that compList contains the component indices for the 3 sessions. How did you get that component list? Is that from a parent function to std_readfile.

I think the issue might arise from the parent function.

Arno

compList =

  Columns 1 through 20

     1     2     3     4     5     6     7     8     9    10    11    12    13    14    15

[2021-05-11 03:48] arnodelorme commented on #291
About this issue

[code]

Fixed it. Thanks,

Arno

[2021-05-11 03:48] arnodelorme commented on #291
Please share your whole study even if it is large. Will be easier for testing.

[2021-05-11 07:45] CorentinWicht commented on #291
Dear Arno,

Indeed it comes from the parent function `std_readdata`, specifically from line 218:
` else [dataTmp{iSubj}, params, xvals, yvals, eventsTmp{iSubj} ] = std_readfile( fileName, 'designvar', struct(bigstruct.design.variable), opts{:}, 'components', compList);`
The `compList` argument being filled and concatenated in the for loop, lines 183-191.

Additionnally, I am calling `std_readdata`

[2021-05-11 07:50] arnodelorme commented on #291
Thanks Corentin,

I will have a look.

[2021-05-12 00:36] arnodelorme commented on #291
I have looked into it. Only EEGLAB 14 allows combining ICA decomposition from multiple sessions with different ICA decomposition for the same subject. We discontinued that option because:
- hard to program
- does not make much sense physiologically to compare clusters of components across subjects in this way

[2021-05-12 00:36] #291 closed, assigned to nobody

[2021-05-12 21:22] acampbel opened #295 "Consider a cloud CI service"
Given public open source projects have free support for cloud ci services, consider leveraging one of them here. 🎉

https://blogs.mathworks.com/developer/2020/12/15/cloud-ci-services/

[2021-05-12 22:04] ghost opened #296 "EEGLAB Study error when computing spectrum and ERSP"
Good evening,
I have created an EEGLAb Study using the resting state recordings from 3 subjects. I need to analyze the resting continuously hence I created a single epoch ranging from 0 to 270s as it seems that EEGLAB study does not compute ERSP without epoched data.

When I try to precompute the spectrum I get the following error:

_Transpose on ND array is not defined. Use PERMUTE instead._ (err

[2021-05-14 00:37] cll008 commented on #262
Hi @ardian-m, are you still encountering this issue? I tried to replicate with MATLAB 2020a on Win10 with the wiki [dataset](https://ucsd.zoom.us/j/94728152660) but did not encounter any glitches. I'm wondering if the bug you encountered is related to something being stored in the dataset.

I'll close the issue for now but please reopen this issue if you have time to replicate the issue or have mo

[2021-05-14 00:37] #262 closed, assigned to cll008

[2021-05-16 05:45] Allexxann commented on #296
Not a dev, but ERSP is better suited for epoched data, because it shows an averaged event related dynamic in spectral power.
Resting state usually is analyzed using just spectra, it's a second line, just after ERP. Though they appear to be broken too...

[2021-05-16 12:29] Allexxann opened #298 "Cannot plot ERP for multiltiple channels with multiple sessions design"
### Description
Made a study, one variable is "type", another is "session". Precomputed ERPs.
When I plot one channel at a time both variables work fine, in any combination.
When I try to plot several channels (initially I tried "Average them all", later checked other options, same result) at once "type" is working, "session" shows only the first value and swallows everything else as if it didn't

[2021-05-16 15:40] Allexxann commented on #298
Since it was urgent I tried to debug it myself.
Traced it to functions\studyfunc\std_readfile.m, lines 108-110 (newlines added for clarity).

**if** ndims(measureDataTmp{iData}{iCell}) == 2
measureData{iCell} = [ measureData{iCell} measureDataTmp{iData}{iCell} ];
**elseif** ndims(measureDataTmp{iData}{iCell}) == 2
measureData{iCell}(:, :, end+1:end+size(measureDataTmp{iData}{iCell},3)) = measureDa

[2021-05-18 09:18] AAAnais opened #300 "Fail to resample using eeglab"
"EEGLAB error in function chckxy()" has been reported.

The resample step could used to be run. Recently this error was reported and fail to fail this step.

[2021-05-19 08:17] MultimodalBrainMonitoringUDA opened #301 "biosig2eeglab wrong labels channels selection"
### Description

https://drive.google.com/file/d/1uarj2o3mK0zs8gwgC-f24M6sX7nvKT52/view?usp=sharing
in the above immage is reported the possible bug.
dat.InChanSelect is a vector that goes from 1:number_of_channels but the actual selected channels are in the vector channels.
If you use dat.InChanSelect to select the labels, the labels of the channels don't mach the actual channels. I think the vec

[2021-05-21 21:52] cll008 commented on #75
Neither of those file locations exist anymore. I can time this if you let me know where else we have similar data.

[2021-05-21 22:06] #85 closed, assigned to nobody

[2021-05-21 22:29] #134 closed, assigned to nobody

[2021-05-24 17:05] cll008 commented on #82
I thought imported continuous data always has `EEG.xmin = 0`?

[2021-05-24 17:10] cll008 commented on #168
Thank you all for reporting and solving the issue. I'll close this for now but please reopen if there are further comments.

[2021-05-24 17:10] #168 closed, assigned to nobody

[2021-05-24 17:12] #160 closed, assigned to nobody

[2021-05-24 23:11] arnodelorme commented on #75
Ask Makoto.

[2021-05-26 21:24] cll008 commented on #75
The functional vision dataset has been moved to \data\common\mobi\Experiments\FunctionalVision\p10_Ozgurs3rdFunction
Loading a dataset with 16334 events took just over 15 seconds, saving took under 25 seconds (Win10, MATLAB 2020a, EEGLAB 2021).

[2021-05-26 21:24] #75 closed, assigned to nobody

[2021-05-27 03:53] arnodelorme commented on #75
Sounds good.

[2021-05-27 18:37] cll008 commented on #185
Hi @HelenaSchuch, is this still an issue? I can take a look if you share your example files again. I'll close the issue for now but please share and reopen if you have a new link. Thanks.

[2021-05-27 18:37] #185 closed, assigned to nobody

[2021-05-27 18:39] cll008 commented on #186
Closing the issue since it has been inactive, but please feel free to reopen. Thanks.

[2021-05-27 18:39] #186 closed, assigned to nobody

[2021-05-27 19:04] cll008 commented on #188
Hi Agatha! Could you also share the continuous set file? Looks like somehow event duration has been quartered. I wonder if this complication comes from resampling or some srate issues.

[2021-05-27 21:07] cll008 commented on #193
Looks like when the BCI2000 import plugin is used `EEG.chanlocs` is 0x1 struct with a `labels` field and EEGLAB gets confused. Simply resetting the strucutre in the command line by entering `EEG.chanlocs = []` before clicking Edit -> Channel Location works.

[2021-05-27 21:07] #193 closed, assigned to nobody

[2021-05-28 23:53] #207 closed, assigned to nobody

[2021-05-28 23:54] #212 closed, assigned to nobody

[2021-05-29 00:41] cll008 commented on #293
Not sure if @arnodelorme has a citation for that implementation... @a-hurst, have you posted the theory question on the [EEGLAB mailing list](https://eeglab.org/others/EEGLAB_mailing_lists.html)? Some experts may respond there.

[2021-05-29 00:55] cll008 commented on #294
switch_1004.cnt imports correctly for me `EEG = pop_loadcnt(filename , 'dataformat', 'auto', 'memmapfile', ''`
switch_0001.cnt and switch_004.cnt are missing electrode locations, events, and data from the 'end tag' of the files
switch_1001.cnt seems to have an incorrect number of channels and datapoints...

Do you have more datasets that do work? Is there any chance that the three datasets that wo

[2021-05-29 20:08] math222 opened #303 "Error when using DIPFIT"
### Description

I was able to perform the DIPFIT with the eeglab_dipole.set sample dataset from the tutorial. But when I run the DIPFIT (grid scanning step) on the dataset from https://sccn.ucsd.edu/wiki/BSSComparison (specifically jo74 subject), I get the error message:
EEGLAB error in function eeglab2fieldtrip() at line 101: struct contents reference from a non-struct array.
Could you help me e

[2021-06-01 13:48] DavidGHaydock opened #304 "eegplot before and after a regression"
I have a simple regression that changes the values in EEG.data, but when I apply EEG plot before and after the manipulation, as well as other plotting functions, there is no difference between the plots before and after. I feel I may be doing something wrong, but I have made sure my regression actually changes things, have tried saving the data before and after in separate files and comparing etc,

[2021-06-02 02:08] math222 commented on #303
I debug the functions, and find maybe because when "look up" channel locations in the head model setting step, "no location for LEYE,REYE". How do you deal with these two locations?

[2021-06-02 23:12] arnodelorme commented on #303
WOuld you mind to upload your dataset. @cll008 would you mind to have a look?

[2021-06-02 23:40] arnodelorme commented on #300
Would you mind to be more specific about the error. Which version of Matlab and signal processing toolbox are you using.

[2021-06-03 00:14] math222 commented on #303
Dateset is uploaded to google drive https://drive.google.com/file/d/1o2CHSiVsHi-kPEx_yOFGr8fB5Obl6S0t/view?usp=sharing
which is also available in BSSComparison webpage. I followed the tutorial wiki page to "look up" the "MNI coordinate file for the BEM DIPFIT model", but I guess the "LEYE" and "REYE" channels don't have a location here, so we got an error "non-struct array" (because it's empty).

[2021-06-03 02:21] alenarto commented on #188
We do downsample so that’s possible. Remind which file did I send you? I’ve had a computer crash and had to get a new computer so I may have to recreate some of this :-/

[2021-06-04 07:57] jaycbcsgh opened #305 "triggers not visible in EEGLAB"
We are using gtec machine to collect eeg data. As we are using EEGLAB to analyse data, we added getc extension to import raw data into EEGLAB.
Issue is there are several traiggers in my experiment and after importing data eeglab is not displaying all trigger in event type gui option.

I did not any fix pattern of visibility or non visibility  of trigger. I tried changing trigger value, for example

[2021-06-04 12:03] jaycbcsgh commented on #305
two files
5 and 6

5 file
trigger value: 70,71,72, 73 not visible

but changed 70,71,72, 73 to 170, 171, 172, 173 then 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115 not visible.

Is there any specific sequence or pattern of numbers required to set a trigger value?

[6.zip](https://github.com/sccn/eeglab/files/6598255/6.zip)

[5.zip](https://github.com/sccn/eeglab/files/6598253/5.zip)

[2021-06-04 15:37] math222 commented on #303
If the DIPFIT functions indeed require a complete location information of channels, then the issue here is no longer a bug. But I still have two follow-up questions:

1. The BSSComparison dataset is used in several of your publications for ICA analysis. Would you mind sharing your experience of setting up a head model for DIPFIT?

2. Does DIPFIT really require complete location? In the head model

[2021-06-07 10:44] faimai00 commented on #267
Dear Cedric @amisepa ,
I am experiencing some problems with this import_EDF function as this seems to import only half of the recordings file in MatLab.
For example, the file named RKS05 (https://drive.google.com/drive/folders/1SYpc6UMnbe-ip4lRB_cD_Eq1HCRP9e9I?usp=sharing ) consists of 246 seconds of EEG recordings in EDF+, but once I import it using import_EDF, my xmax = 127.999. As you can see,

[2021-06-07 13:37] CPernet commented on #304
Hi David, it's hard to tell why this doesn't work -- I can propose as an alternative to use STUDY and call [LIMO](https://github.com/LIMO-EEG-Toolbox/limo_tools) which will regress whatever you want

[2021-06-07 15:12] yanbin-niu opened #306 "FASTER plugin in EEGLAB needs updating"
Hello EEGLAB team,

Our team (NDC lab) found that the FASTER plugin in EEGLAB has not been updated to the most up-to-date version of FASTER.

Specifically, @DMRoberts found that the extension function that gets the list of plug-ins
https://github.com/sccn/eeglab/blob/c57dfeea8cc2dd09c381df4350568cebe9f979be/functions/adminfunc/plugin_getweb.m

Which directs to this list:
https://sccn.ucsd.edu/eegl

[2021-06-07 17:41] amisepa commented on #267
Sorry to hear that, I'll take a look when I can

[2021-06-07 17:42] amisepa commented on #267
I have an idea of what the problem could be. Does the sampling rate look correct?

[2021-06-08 17:08] faimai00 commented on #267
Dear Cedric,
thank you for your answer.
The sampling rate is not correct - it displays as 1000 Hz for these data (RKS05), whilst the original sampling rate is 500 Hz.
However, it does import a correct sampling rate for other data I have (e.g RKS07 which I have uploaded in the same folder).
Many thanks for your advice.
Best wishes,
Irene

[2021-06-09 01:00] cll008 commented on #188
Hm, it's named sample7epochs1channel.set, but it looks like it was named sub-1070302_ses-01_task-eoec_eeg

[2021-06-09 04:45] amisepa commented on #267
Ok thank you. I have an idea of what might be going on. I'll take a look when possible.

[2021-06-11 07:01] stevenylai opened #307 "Error in pop_chanedit: Reference to non-existent field 'type'."
### Description

Error while running pop_chanedit: Reference to non-existent field 'type'
<br>

#### Steps to Reproduce

1. Read a cnt file
2. Call pop_chanedit on Neuroscan_64_location.sfp

The equivalent Matlab script is as follows:
[code]

<br>

#### Expected behavior:
No error

<br>

#### Actual behavior:
Error as follows:

[code]

I am able to fix this by commenting out:
https://github.com/sc

[2021-06-14 10:25] #304 closed, assigned to nobody

[2021-06-14 14:57] tingyu653 opened #308 "precompute component measures problem"
### Description
I used the eeglab STUDY. And when I tried to precompute component measures.
I checked the ERPs and ERP image. And then I encountered the problem.
I put my data in the same folder and recreated the STUDY again, but still encountered the same problem.
![image](https://user-images.githubusercontent.com/85797007/121912185-f2dd2380-cd62-11eb-9684-923d6ffa6801.png)

#### Steps to Reprodu

[2021-06-15 00:45] arnodelorme commented on #306
Sorry about the late reply. Before we update could you change the file eegplugin_faster to the reflect current version? (change the version variable). Note that the version online is 1.2.3b so whatever is after that.

Then upload the file to http://sccn.ucsd.edu/eeglab/plugin_uploader/version_update.php

And we will accept the changes right away.

[2021-06-15 00:48] arnodelorme commented on #307
Would you mind to upload your file Neuroscan_64_location.sfp (compress it as zip and drag and drop here).

It is probably not a real SFP file.

[2021-06-15 00:50] arnodelorme commented on #308
This is because you have several datasets for the same subject and they have different ICA decompositions. This is only allowed if you have different sessions (days) for a given subject. Otherwise, if it is a recording on the same day or if the trials are split by condition, the ICA must be the same (you can select both datasets and run ICA on the two datasets).

[2021-06-15 00:50] #308 closed, assigned to nobody

[2021-06-15 00:51] arnodelorme commented on #301
Sorry for the late answer. The link above says access denied.
Also would you mind to share your files and indicate how to reproduce the error?

[2021-06-15 00:52] arnodelorme commented on #295
@cll008 would you mind investigating?

[2021-06-15 00:55] arnodelorme commented on #292
Thanks. Added the changed in ad8d50826

[2021-06-15 00:55] #292 closed, assigned to nobody

[2021-06-15 00:57] arnodelorme commented on #290
The main way to speed up the process is SSD hard drive (solid state drive). For me, it goes at the same speed as before.
You can also decrease the sampling rate. No real need to process your data at more than 250 Hz.

[2021-06-15 00:57] #290 closed, assigned to nobody

[2021-06-15 01:01] arnodelorme commented on #289
Done

[2021-06-15 01:01] #289 closed, assigned to nobody

[2021-06-15 01:27] tingyu653 commented on #308
I change the session of each dataset. But I still encounter the same problem.
![image](https://user-images.githubusercontent.com/85797007/121978929-ce616580-cdbb-11eb-94e9-161f359a8430.png)

[2021-06-15 01:35] tingyu653 commented on #308
Thanks, the problem is solved now.

[2021-06-15 01:48] arnodelorme commented on #308
Good happy to know it works now.

[2021-06-15 02:03] Pengpeichu opened #309 "build preclustering array problem"
I did these steps
![messageImage_1623722216134](https://user-images.githubusercontent.com/73431927/121981408-2ef2a180-cdc0-11eb-8d4d-2ee857fdc174.jpg)
but I encounter the problem below.

![messageImage_1623722085140](https://user-images.githubusercontent.com/73431927/121981593-81cc5900-cdc0-11eb-8c13-7d9bc2fae107.jpg)
I checked the select by rv in the edit window

[2021-06-15 03:53] arnodelorme commented on #309
You will need to localize dipoles if you want to use them for clustering.

[2021-06-15 03:53] #309 closed, assigned to nobody

[2021-06-15 05:50] yanbin-niu commented on #306
Thanks for the reply! I have already uploaded the most up-to-date file for FASTER. One thing to note is that the version number of FASTER didn't seem to be changed when the bug was corrected, both the version in the current EEGLAB and the version on the SourceForge (https://sourceforge.net/projects/faster/) have the same version number of 1.2.3b. Therefore, while uploading, I entered 1.2.3b for th

[2021-06-15 06:04] MultimodalBrainMonitoringUDA commented on #301
Sorry! NOw the link should work:
[ https://drive.google.com/file/d/1uarj2o3mK0zs8gwgC-f24M6sX7nvKT52/view?usp=sharing](url)

Atteched the file I tried to open (https://drive.google.com/file/d/1voPiOznPPLuYULkWXO7q7H8Bj1b1qm4m/view?usp=sharing) The problem is that in the plot always the same channels labels are displayed because the variable dat.InChanSelect. Using the varaible channels, the correc

[2021-06-15 06:31] arnodelorme commented on #306
Yes, let’s do 1.2.4b

Also when I looked at the eegplugin_FASTER file on sourceforge, it said version 1.0 inside the script.

[2021-06-15 06:37] arnodelorme commented on #301
I imported the EDF file with no problem, then I use menu item Edit > Channel location and press OK to look up channel location, removed non scalp channels and plotted spectrum.

[2021-06-15 06:37] arnodelorme commented on #301
<img width="552" alt="Screen Shot 2021-06-14 at 8 36 38 PM" src="https://user-images.githubusercontent.com/1872705/122004580-4c882280-cd50-11eb-974e-60989a1586f8.png">

[2021-06-15 06:37] #301 closed, assigned to nobody

[2021-06-15 06:58] yanbin-niu commented on #306
Yes, in eegplugin_FASTER.m, it said `vers = 'FASTER_1.0'`. It also said `FASTER_version='1.2.2b'` in FASTER_GUI.m. My guess is that it did not systematically change this version number over time.

Anyway, I have reuploaded the file with 1.2.4b. Sorry for the multi-uploading.

Thank you!!

[2021-06-15 07:22] arnodelorme commented on #306
OK, thanks.

[2021-06-15 10:57] stevenylai commented on #307
Here it is. The file seems to have the same format as the other sfp files under `sample_locs/`

[Neuroscan_64_location.zip](https://github.com/sccn/eeglab/files/6655031/Neuroscan_64_location.zip)

[2021-06-15 16:41] arnodelorme opened #310 "Runica slowdown"
Just something that I found in the runica() script: if you comment out "drawnow" on line 1047, there is a dramatic speed-up of the script. This has something to do with the GUI and nothing with ICA itself, so I think it could easily be optimized. I'm writing it here because I see that some of the involved people are active on the chat.

[2021-06-15 16:49] arnodelorme commented on #310
same code are in line 1334

[2021-06-15 16:54] arnodelorme commented on #310
From Makoto: Wow, the processing time of pop_runica(EEG,'extended',1); changed from 185 s to 72 s after commenting out all the 'drawnow' lines in runica.m. Tjerk is a great hacker! Did you perform time profile analysis or something?

[2021-06-15 16:57] arnodelorme commented on #310
This is a problem from command line calls as well not only GUIs.

[2021-06-15 20:43] arnodelorme opened #311 "Snapmaster truncated file"
See

https://drive.google.com/drive/folders/1IYnzJnmAhRQOHzo50dhcYji3bXUpuuCR?usp=sharing

[2021-06-15 21:21] alenarto commented on #188
Sorry for the delay - let me pull that original file for you.

[2021-06-16 19:27] arnodelorme commented on #306
I updated the plugin, but there was a bug that prevented it from working. See attached.

[2021-06-16 19:28] arnodelorme commented on #306
![Screen Shot 2021-06-16 at 9 24 12 AM](https://user-images.githubusercontent.com/1872705/122280660-23b57980-ce85-11eb-9421-275fb6733f17.png)

[2021-06-16 19:28] #306 closed, assigned to nobody

[2021-06-16 19:28] #311 closed, assigned to nobody

[2021-06-17 04:59] arnodelorme opened #312 "std_precomp spectrum crash"
Avec l'etude P300 et la pipeline generique, 'spec', 'on' ne fonctionne que si on rajoute les options dans 'specparams'

[2021-06-17 13:42] yanbin-niu commented on #306
@arnodelorme Thank you very much for looking into this. I wanted to add that:
1. both the old version and new version FASTER throw the same error when calling FASTER with newer versions of Matlab (i.e., Matlab version R2021a);
2. However, it is worth noting that that the older version of FASTER currently has a critical additional bug;

For these reasons, perhaps the version of FASTER linked in EEG

[2021-06-17 19:37] arnodelorme opened #313 "Give warning message if in Matlab toolbox folder"

[2021-06-17 20:02] arnodelorme opened #314 "Create laplacian plugin"

[2021-06-17 20:15] arnodelorme opened #315 "STUDY warning message with Cyril's Face study"
Check how this arises for @CPernet

[2021-06-17 22:34] arnodelorme opened #316 "Bayesian component clustering"
Get a probability for each cluster.
- loop bootstrap trials
        - loop scan measures
                  - compute cluster using different measures (ERP, spectrum, dipoles, etc...)
                  - in cluster matrix of components x components, add 1 if 2 components are in the same cluster
- Look at the matrix components x components. Then you get the likelihood for 2 components to be in the s

[2021-06-18 00:35] arnodelorme commented on #310
From Curtis

Replacing ‘drawnow’ with ‘drawnow limitrate’ cuts the processing time in my trials from ~400 seconds to 55-64 seconds. I’m processing 19 channel data, 10 minutes in length, no ERPs. I’m sure the gains will be even more significant with additional channels and especially with multiple data sets within a STUDY.

The drawnow function is called in 6 different places in repeating loops. It

[2021-06-18 03:05] arnodelorme commented on #315
@CPernet found the problem. The HED fields contain Unicode characters (which cause tons of crashes) and they are removed upon loading the STUDY with the Github version of EEGLAB. Maybe you are not using the latest version of EEGLAB (GitHub) when you saved the study as this is a new feature. If you save with the STUDY with the Gihub version, it should be fine.

[2021-06-18 03:05] #315 closed, assigned to nobody

[2021-06-18 04:44] tingyu653 opened #317 "Classify components using ICLabel"
### Description
I run ICA, and after ICA I use classify components using ICLabel.
It works well until the 9th data.(to the tenth)I got this problem. How can I solve it?
![image](https://user-images.githubusercontent.com/85797007/122507271-7bddae80-d032-11eb-918b-d03b6ec9615b.png)

#### Steps to Reproduce

1. [*First Step*]
2. [*Second Step*]
3. [*and so on...*]

#### Versions

|   |   |
|----| ---

[2021-06-18 06:51] CPernet commented on #316
there is some code somewhere from @nucleuscub

[2021-06-19 17:05] sasis001 opened #318 "Error with channel location using .elc file StandardWaveguard64 from ASA lab to EEGlab"
### Description
Hello,

I am receiving an error while trying to use channel locations to import a .elc file from ANT
Neuro after reading the CNT files using the EEProbe plugin. I have tried to open the different channel location files and receiving the same error message with all the files.

[*Description of the bug or feature
Attach a link to Dropbox or Google Drive with screenshots and your data

[2021-06-20 08:14] #317 closed, assigned to nobody

[2021-06-20 13:47] faimai00 commented on #267
Hi Cedric,
all right. I am looking forward to any suggestions you could give on this. Many thanks!
Irene

[2021-06-21 18:51] arnodelorme commented on #318
Hi Jay, Would you mind to share a data file and an electrode file?

[2021-06-21 18:51] #314 closed, assigned to nobody

[2021-06-22 13:58] cristinabenetton opened #319 "PACTools Property Inspector Bug"
### **PACTools Property Inspector Bug**

Hello,
I am trying to use EEGLAB plugin **PAC Tools** to estimate Phase Amplitude Coupling (PAC) in some resting-state EEG data I have. I installed the plugin today and computed PAC thanks to the plugin, but then, when I plot PAC estimation, and when I open the property inspector to configure my image (scale, lables etc) the window of the property inspector

[2021-06-22 16:27] sasis001 commented on #318
Hello,

I was able to import the channel locations.

I did have another question though. I am trying to process files that have the epochs of interest randomly interspersed within a file. Each subject has several files and each file has 3-4 trials corresponding to each event of interest. In viewing your workshop on processing with EEGLAB III, it seems I might have to epoch by event for each file p

[2021-06-22 16:31] arnodelorme commented on #290
Dear Allex, Made some fixes that should improve speed. Let us know.

[2021-06-22 18:17] alenarto commented on #188
Here you go - [full file](https://www.dropbox.com/s/t692udikqydgzcj/sub1070302_full.zip?dl=0).

[2021-06-22 21:22] sirenxi opened #320 "Error in using eegfilt function with 'fir1' type"
Received errors down below when loaded parameters as suggested by the eegfilt function with 'fir1' type.

Error using  *
Incorrect dimensions for matrix multiplication. Check that the number of columns in the first matrix matches the number of rows
in the second matrix. To perform elementwise multiplication, use '.*'.

Error in firls (line 79)
    cos_ints = [omega; sin((1:N)' * omega)];

Error in

[2021-06-24 11:17] CloudyDory opened #321 "Variable "CURRENTSTUDY" is not set to 0 when calling "eeglab redraw" from a empty MATLAB workspace"
### Description

If we start EEGLAB by command `eeglab`, the variable `CURRENTSTUDY` is set to `0`, but if we start EEGLAB by `eeglab redraw`, the variable is set to `[]`. If we then load more than two ".set" files, the value of `CURRENTSTUDY` is still `[]`, and we cannot switch dataset by clicking on "Datasets" in the main menu. This will cause an error:

`
Operands to the logical and (&&) and or

[2021-06-24 15:01] sasis001 commented on #318
Hello,

Could you confirm that the channel locations indicated

[2021-06-24 15:01] #318 closed, assigned to nobody

[2021-06-24 18:25] arnodelorme commented on #321
I could not reproduce the problem. Are you using the dev version of EEGLAB? I have added a line to eeglab.m just in case

[code]

[2021-06-24 18:26] #321 closed, assigned to nobody

[2021-06-24 18:29] arnodelorme commented on #320
Would you mind to share your data and the function call or menu sequence to reproduce the issue?

[2021-06-25 00:45] CloudyDory commented on #321
No, I'm not using the dev version. I just downloaded the "eeglab_current.zip" from [ftp://sccn.ucsd.edu/pub/daily/](url) and I can reproduce the problem.

[2021-06-25 00:52] arnodelorme commented on #321
OK, thanks for letting us know. This will be fixed in the next release next month then.

[2021-06-25 19:01] cll008 commented on #188
Thanks Agatha... Looks like the issue really is in the downsampling. EEG.event.duration is reduced whereas EEG.event.epochduration is not.  The problem is in pop _resample https://github.com/sccn/eeglab/blob/develop/functions/popfunc/pop_resample.m#L200

@arnodelorme Event `duration` is expressed in ms (not data points) right? Same situation for `latency` right? Looks like those lines should be re

[2021-06-25 22:59] #294 closed, assigned to nobody

[2021-06-25 23:05] #295 closed, assigned to nobody

[2021-06-28 09:43] cristinabenetton opened #322 "Modulation Index Value EEGLAB PACTools"
### Modulation Index Value EEGLAB PACTools

I have one question regarding the plugin PACTools to compute PAC on EEG resting state data.

After estimating PAC on my dataset, I plot the comodulogram results. Do you know if there is a way in which I can extract the Modulation index single value to then do statistics on it? Either the maximum modulation index value in the comodulogram or maybe a z-sco

[2021-06-30 08:10] malinINCF opened #323 "MW summer project: Acquire login on XSEDE and SDSC"
Acquire login on XSEDE and SDSC

[2021-06-30 08:11] malinINCF opened #324 "MW summer project: Acquire login account at SCCN"

[2021-06-30 08:12] malinINCF opened #325 "MW summer project: Work on Matlab script to generate data for deep learning"

[2021-06-30 08:12] malinINCF opened #326 "MW summer project: Create MATLAB deep learning script working on package data (template will be provided)"

[2021-06-30 08:13] malinINCF opened #327 "MW summer project : Write a simple EEGLAB plugin to apply deep learning to EEG data"
Stretch goal

[2021-06-30 08:13] malinINCF opened #328 "MW summer project: Implement and document more than one DL model"
Stretch goal

[2021-06-30 08:14] malinINCF opened #329 "MW Summer project: Write a blog for EEGLAB newsletter"
Stretch goal

[2021-06-30 10:57] faimai00 commented on #267
Dear @amisepa
I am sorry for the additional message, I was just wondering whether you would have any suggestions on this? I have looked into it but I was not able to find the cause of the problem. Any suggestions would be very welcome as I am very stuck with this problem.
Many thanks again.
Irene

[2021-06-30 18:23] arnodelorme opened #330 "MW project: Write a blog for EEGLAB newsletter"

[2021-06-30 18:23] arnodelorme opened #331 "MW project: Implement and document more than one DL model"

[2021-06-30 18:23] arnodelorme opened #332 "MW project: Write a simple EEGLAB plugin to apply deep learning to EEG data"

[2021-06-30 18:23] arnodelorme opened #333 "MW project: Create MATLAB deep learning script working on package data (template will be provided)"

[2021-06-30 18:23] arnodelorme opened #334 "MW project: Work on Matlab script to generate data for deep learning"

[2021-06-30 18:23] arnodelorme opened #335 "MW project: Acquire login account at SCCN"

[2021-06-30 18:23] arnodelorme opened #336 "MW project: Run Matlab script at SDSC"

[2021-06-30 18:24] #329 closed, assigned to nobody

[2021-06-30 18:24] #328 closed, assigned to nobody

[2021-06-30 18:24] #327 closed, assigned to nobody

[2021-06-30 18:24] #326 closed, assigned to nobody

[2021-06-30 18:24] #325 closed, assigned to nobody

[2021-06-30 18:24] #324 closed, assigned to nobody

[2021-06-30 18:24] #323 closed, assigned to nobody

[2021-06-30 20:07] baniknan opened #337 "Missing channels in plot (scroll) view"
Hi! We're running some pilot EEG sessions with BrainVision Recorder and  we no longer see all the channels when we use: Plot -> Channel data (scroll). I have tried increasing the scale (to around 400), and then I'm able to see all the channels but they're pretty much a straight line.

I'm so confused if we're seeing incorrect data or increasing scale till you see all the channels is a common pract

[2021-06-30 21:09] cll008 commented on #307
Think the SFP file is fine, let me see why the spherical fields don't cause the same error and handle `type` similarly.

[2021-06-30 21:52] cll008 commented on #337
Hi @baniknan, hopefully the following helps.

1. How did the data look when you were recording it with the BrainVision Recorder (there is a live view of the incoming data right?)
2. When viewing the EEG scroll plot did you select `Remove DC Offset` from the `Display` menu?
3. Did you recently update EEGLAB? Try importing one of your previous known-to-be-good datasets and see if the issue persists.

[2021-06-30 21:53] cll008 commented on #337
Also, when viewing the EEG scroll plot, did you select `Remove DC Offset` from the display menu before increasing the scale?

[2021-06-30 22:08] cll008 commented on #305
Hi @jaycbcsgh, does gtec have a native EEG data viewer / processor and are the events all visible there?
I checked your google drive files (1.mat, 2.mat, 3.mat) as wella s your 5.zip and 6.zip (which are corrupted and also only contain .mat file), should there be some gtec HDF5 files?
I'm not sure if the plug-in is updated or well maintained. Seems that [it is not favorably reviewed](http://sccn.u

[2021-06-30 22:09] cll008 commented on #300
@AAAnais did you recently update EEGLAB? Have you tried reprocessing some data that you know could be resampled in the past? Closing this issue for now but please reopen if you would like to continue working on this issue.

[2021-06-30 22:09] #300 closed, assigned to nobody

[2021-06-30 22:10] #293 closed, assigned to nobody

[2021-07-01 00:46] arnodelorme commented on #322
@nucleuscub any clue? Tx.

[2021-07-01 01:07] arnodelorme commented on #303
DIPFIT will work without these channel locations. Sorry for the late answer. THere are no accepted locations for these channels.

[2021-07-01 01:07] #303 closed, assigned to nobody

[2021-07-01 01:24] cll008 commented on #188
Hi Agatha, so EEG.event.duration is apparently stored as data samples but displayed in seconds for continuous data, and in milliseconds for epoched data.

I'll double check EEG.epoch.eventduration. Anyways I think the definition should be consistent or the naming convention should be different.

[2021-07-01 20:51] arnodelorme opened #339 "RDF format problem"
Can you try your hand at importing a subject for me into the Sternberg database. Aside from this one I am close to a re-imported (and so not filtered) version for all. The events for half are a sticking point, and for this one the data itself can't be imported.

The data:
/data/cta/SternbergDatabase/subj13_Stern1.RDF
/data/cta/SternbergDatabase/subj13_Stern2.RDF
/data/cta/SternbergDatabase/subj13_

[2021-07-01 20:52] arnodelorme commented on #339
@cll008 would you mind to have a look

[2021-07-02 09:59] robertoostenveld opened #340 "replace ft_inside_vol with ft_inside_headmodel"
the function ft_inside_vol has been replaced already quite some time ago with ft_inside_headmodel. However, I see that eeglab https://github.com/sccn/eeglab/blob/develop/functions/sigprocfunc/dipoledensity.m still uses find_inside_vol, which is even the predecessor of ft_inside_vol.

right now dipoledensity has a subfunction find_inside_vol, which calls ft_inside_vol. If that call were replaced by

[2021-07-02 16:43] arnodelorme commented on #340
Thanks Robert, @cll008 would you mind to investigate?

[2021-07-03 01:20] cll008 commented on #188
https://github.com/sccn/eeglab/blob/0ae1baf0e92fb18ab1af2de6dddfe93574d480fd/functions/adminfunc/eeg_checkset.m#L624

`EEG.epoch.eventduration` is indeed expressed in ms instead of frames. @arnodelorme have a few options here

1. Leave things as they are but update EEG.epoch documentation
2. Change to frames (and include `EEG.epoch.eventduration` in pop_resample).
3. Change to seconds (instead of

[2021-07-04 10:21] tingyu653 opened #341 "STUDY plot ERPimage error"
### Description
After precompute channel measures, I set the parameters of ERP as 78 trials(because the number if total trials of the experiment is 78).
However, I got the error.
Should I check if any of my data's trials is less than 78?
![image](https://user-images.githubusercontent.com/85797007/124381275-3557a780-dcf4-11eb-9c03-35b12d27a19f.png)

<br>
#### Versions

|   |   |
|----| ---- |
| OS

[2021-07-06 06:02] iseda623 opened #342 "When using pop_chanedit, an error occurs even if "use MNI coordinate file for BEM dipfit model" is selected."
### Description
When running the following, an error occurs and the channel cannot be set
https://eeglab.org/tutorials/04_Import/Channel_Locations.html#:~:text=pop_chanedit(%20chanlocs%20)%3B

`

pop_chanedit( chanlocs );
readlocs(): 'chanedit' format assumed from file extension
Reading file (lines): 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270

[2021-07-06 07:10] arnodelorme commented on #342
Did you update to Dipfit 4.1
This fixes the problem.

[2021-07-06 07:39] iseda623 commented on #342
I updated to 4.1 and that solved the problem.
Thank you very much.

[2021-07-06 07:39] #342 closed, assigned to nobody

[2021-07-06 20:38] arnodelorme commented on #341
Yes, this is correct. Reduce the number on the precompute screen.

[2021-07-06 20:38] #341 closed, assigned to nobody

[2021-07-06 20:40] arnodelorme commented on #188
Update documentation because eventduration is consistent with eventlatency in ms as well.

[2021-07-06 20:43] arnodelorme commented on #322
@nucleuscub how can we help?

[2021-07-06 20:43] arnodelorme commented on #320
Would you mind to share your data and the function call or menu sequence to reproduce the issue?

[2021-07-06 20:45] arnodelorme commented on #310
@cll008 try solution above (‘drawnow limitrate’ )

[2021-07-06 20:49] arnodelorme commented on #305
The trigger values are not present in the matlab file so there is no way for EEGLAB to extract them.

[2021-07-06 20:49] #305 closed, assigned to nobody

[2021-07-06 20:50] arnodelorme commented on #296
Spectrum should work on continuous data. ERSP not. Would you mind sharing your data so we can check the issue with computing spectrum?

[2021-07-07 11:25] nucleuscub commented on #322
Hi Arno, I transferred this issue to the pactools repo and replied to her
from there. Alll good with this. Ppl just don't read the documentation. 🙄

Thks for letting me know.
Cheers.
R

On Tue, Jul 6, 2021 at 22:43 Arnaud Delorme ***@***.***>
wrote:

[2021-07-07 16:07] arnodelorme commented on #322
Thanks so ugh Ramon for taking the time.

[2021-07-07 18:07] cll008 commented on #188
Done https://github.com/sccn/sccn.github.io/commit/d52d258ed7824928996e432167477edfe4aa863e

[2021-07-07 18:07] #188 closed, assigned to cll008

[2021-07-08 10:02] amisepa commented on #267
Sorry, extremely busy period...

When your RKS05 data are imported with my function line 64, cells contain 1000 data points and timepoints are every 2 s, and the matlab function reads 1000 hz sample rate as a consequence, but the sample rate should actually be 500 hz.
My code then takes each cell one by one and converts it to continuous data, and assumes the sample rate is 1000 hz. I believe the s

[2021-07-08 15:11] tingyu653 opened #343 "STUDY precompute channel measures"
### Description
I searched for EEGLAB wiki, but I don't understand the meaning of the second choice.(Remove ICA artifactual components pre-tagged in each dataset)
In what kind of condition should I choose this option?
I also want to ask for the third option.
![image](https://user-images.githubusercontent.com/85797007/124945822-1719e080-e041-11eb-90d3-a819b8894190.png)

<br>
#### Versions

|   |

[2021-07-08 18:57] arnodelorme opened #344 "MW project: Get script running on local computer"

[2021-07-08 19:00] arnodelorme commented on #336
See video @jnnstchr

https://drive.google.com/file/d/1RtCOqC3DOOt0UJDbGoJXHfhGsX1KDvcJ/view?usp=sharing

[2021-07-08 19:01] arnodelorme commented on #336
Tasks:
- Get the script to run on Expanse
- Try to do commits on our repo, set up SSH for Github

[2021-07-08 19:02] #335 closed, assigned to nobody

[2021-07-08 19:02] arnodelorme commented on #335
We will run everything on expanse

[2021-07-08 19:04] arnodelorme commented on #344
Hi Joanna,

Was nice to talk to you. Some itemized tasks.

1. Get account on Expanse. https://www.sdsc.edu/support/user_guides/expanse.html (I have sent an email to Amit)
Familiarize yourself with SLURM to submit jobs https://www.youtube.com/watch?v=U42qlYkzP9k

2. Download a dataset
Home page
http://fcon_1000.projects.nitrc.org/indi/cmi_healthy_brain_network/sharing_neuro.html
Select EEG (any rel

[2021-07-08 19:05] arnodelorme commented on #344
![HBN](https://user-images.githubusercontent.com/1872705/124976935-97056380-dfcb-11eb-83a8-cb277b7b737d.png)

[2021-07-08 19:05] arnodelorme commented on #344
Task completed 7/7/2021

[2021-07-08 19:05] #344 closed, assigned to nobody

[2021-07-08 19:13] arnodelorme commented on #336
In addition to setting up SSH with expanse, you might want to use the same private key for GitHub. You would need to add both your local key and your expanse key. This way you can push code from both sides.
Here is how to do it

https://www.youtube.com/watch?v=nQDFBd5NFA8

[2021-07-08 19:20] arnodelorme opened #345 "MW project: Write script for NSG demo with Child Mind data"

[2021-07-08 19:21] arnodelorme commented on #345
@vijayiyer05 added a stretched goal based on our discussion

[2021-07-08 21:37] jmkendallbar opened #346 "Error in function checkoldformat() when opening datasets with ICA weights"
Hello,

I ran ICA on a subset of my data and was able to save that dataset (and re-open it later). When I import an EDF file using the BIOSIG toolbox and then apply the ICA weights of the previous dataset to this dataset (Edit Dataset> ICA weights (from other dataset)), I save the dataset and receive this error if I try to re-open the saved dataset. The datasets are quite big (>1GB) and I am wonde

[2021-07-09 01:20] cll008 commented on #339
I tried importing with the Biosig interface (which works for the other .RDF) as well and subj13's files error on fopen. RDFs don't seem editable in txt or excel so I don't have a good way of inspecting further. Maybe the raw files were corrupted?

[2021-07-09 01:20] #339 closed, assigned to nobody

[2021-07-09 17:41] skoenig3 opened #347 "Sampling rate bug with EDF Files"
Hello,

I found a bug in the BioSig 3.7.5 plugin for reading EDF data with annotations. I realize this is not a problem with eegLab but one if it's commonly used plugins. I figured it would report it since other people may run into similar issues and it took me a while to find this bug. This bug also appears unresolved in BioSig 3.7.8 too.

Function sopen.m, Lines 639-643
            for k=chan,

[2021-07-09 19:12] cll008 commented on #340
Sure. Looks like the deprecated fxn is used in [std_dipoleDensityStatistics](https://github.com/sccn/std_dipoleDensity/blob/master/std_dipoleDensityStatistics.m) as well and I update those.

@arnodelorme Does EEGLAB look for these functions in the Fieldtrip-lite plug-in? Are there other private copies I need to worry about?

[2021-07-11 09:25] #343 closed, assigned to nobody

[2021-07-11 23:44] Allexxann commented on #310
I was simply commenting out the whole thing for several years. Then I've found how to fix default values and set it to 'off'.

[2021-07-12 18:46] DBermudez0 opened #349 "fmrib toolbox bug"
fmrib plugin to EEGLAB (bug)

Hi,

I am using the fmrib toolbox plug-in to remove the gradient artifact in simultaneous EEG-fMRI. However, I run into the following bug during slice alignment: cannot match the size of A to the iterator when it uses the pcoor2 function. I don't know where else to seek advice on this issue since I had trouble registering as a new user to the eeglablist platform. Can

[2021-07-13 02:32] dannyzhang86 commented on #70
Did this issue solve or not? I meet the same one...

[2021-07-13 07:41] RaiyaN-98 commented on #93
This has happened due to this command TYP(N, 1) = 1 in edfannot2evt.m (Marked yellow in the attached image). So the event type is marking as 1 all the time. (EEGLAB v2021.0)
![image](https://user-images.githubusercontent.com/72512233/125410663-f05fff00-e3de-11eb-968c-78a4bf9a3374.png)
Though I haven't found any generalized solution. But for my data there were 3 events - T0, T1, T2. So I made a cha

[2021-07-13 13:38] amisepa commented on #267
Hi Irene,

I think I fixed the issue. Please try this version attached:
[import_EDF.zip](https://github.com/sccn/eeglab/files/6809217/import_EDF.zip)

I compared the events of your file RKS05 with EDFBrowser (accounting for gaps between segments that were removed by my function), and it looks correct.
Please run some tests and let me know.

Cedric

[2021-07-13 15:45] sasis001 opened #350 "EEGlab LIMO data analysis"
Hi,

Do you provide assistance with data analysis using the LIMO plugin? I have run the data set twice and both times the beta files are empty, although the program is generating the output files for each subject. The other steps to the analysis worked fine and I can compute channel and component measures when using just EEGlab without LIMO.

Thanks,
Jay

[2021-07-13 20:11] #307 closed, assigned to nobody

[2021-07-13 20:14] arnodelorme commented on #349
I see that you submitted the bug at https://github.com/sccn/fMRIb/issues/10
Unfortunately, we do not support that plugin. Consider contacting the author or hiring someone to fix it.

[2021-07-13 20:14] #349 closed, assigned to nobody

[2021-07-13 20:15] arnodelorme commented on #347
@amisepa would you mind to answer?

[2021-07-13 20:22] arnodelorme commented on #350
Transfered to https://github.com/LIMO-EEG-Toolbox/limo_tools/issues/71

[2021-07-13 20:22] #350 closed, assigned to nobody

[2021-07-13 20:24] amisepa commented on #347
Hi Seth,

Thank you for pointing it out. Yes there are many issues with EDF annotations because of the high diversity in recording formats. It is not easy to cover all the possibilities with the plugin.

Have you tried the mexSLOAD option during importation (a box to check in GUI in the import window)?

You can also try this new function I am working on, but haven't run enough tests yet to make it

[2021-07-13 20:27] #337 closed, assigned to nobody

[2021-07-13 20:29] arnodelorme commented on #287
@cll008 would you mind to have a look

[2021-07-14 08:27] faimai00 commented on #267
Dear Cedric,

Thank you so much with that! I ran some tests also with some other files I have and it seems like it is working now! The sampling rates are correct and the whole EEG file is read and visualised correctly.
I will let you know if I encounter any problems when I am going to work with it more in a few weeks, but it doesn't seem likely.

I only get an error message regarding EEG.setname (

[2021-07-14 11:50] amisepa commented on #267
Glad it's working.

That setname issue should be fixed now, and I added some code to insert boundaries where DC offsets changes occur between discontinuous segments (e.g. file RKS05). EEGLAB default filters should automatically correct them now by detecting the boundaries.

Here is the new repo for this function: https://github.com/amisepa/import_EDF.git
This way you can just download or pull the

[2021-07-14 16:45] baniknan commented on #337
Hi there!

My apologies for the delayed response. The data looked good while recording, only afterwards did we see a problem.

We have an old dataset that was converted from BV file to .EDF and that shows up well on the scroll. So, I wasn't sure if it's a BV plug-in issue or an issue with how the data was recorded.

What are some possible reasons a data file can become corrupted? We haven't done a

[2021-07-14 17:43] cll008 commented on #337
Hi Nandita please also check point 2 in my previous comment.
It's difficult to guess what's wrong with one dataset. Usually it's not an issue with how the data is recorded, and we haven't had any other BV plug-in issues (it's a popular format).

[2021-07-14 17:43] skoenig3 commented on #347
Hello Cedric,

Thanks for the suggestion. I temporarily patched the code myself already
but I will try these out too. The easiest solution was just to ignore the
annotations when determining the sampling frequency.

Seth

On Tue, Jul 13, 2021 at 3:24 PM Cedric Cannard ***@***.***>
wrote:

[2021-07-14 19:16] martinfrasch commented on #70
EEGLAB v2021.0 runs fine on macOS Big Sur 11.4.

[2021-07-14 19:16] #70 closed, assigned to nobody

[2021-07-14 21:43] #320 closed, assigned to nobody

[2021-07-14 21:43] #322 closed, assigned to nobody

[2021-07-14 22:30] cll008 commented on #346
Hi @jmkendallbar, which version of EEGLAB are you using?
It's unlikely that your issue is because of file size. The error you mentioned was at line 277 but should be this line on the latest develop version of EEGLAB:
https://github.com/sccn/eeglab/blob/a99ae389f573f38cadfe7602d7ece837f1bc777d/functions/popfunc/pop_loadset.m#L284

Let's give your steps some names...

1. Data with ICA
2. Another EDF

[2021-07-15 11:13] jnnstchr commented on #336
I did setup the SSH keys both my local computer and expanse, created my own branch for childmind repository and pushed the modified script, pulled the master branch on my expanse account. I do not have the permission to access /expanse/projects/nemar, however I managed to copy both the eeglab and the previously used file from my local computer with sftp, unpack it, modify the path again and run it

[2021-07-15 18:51] arnodelorme commented on #334
1. You were able to run restingstate_prepare_clean_master.m

2. Modify it to run on all data. All data which is in **child-mind-uncompressed**

3. Run python VGG16 program, SexPrediction-VGG-Topo.ipynb
(will need to run on Expanse)
See Dung demo to start Jupyter notebook on Expanse

4. Adapt the script https://github.com/arnodelorme/child_mind_2020/blob/master/vgg16/dl_vgg16.m to take the same inp

[2021-07-15 18:51] arnodelorme commented on #334
@jnnstchr see notes above

[2021-07-15 19:20] arnodelorme opened #351 "MW project: Test ResNET in addition to VGG16"

[2021-07-15 19:21] arnodelorme commented on #351
@vijayiyer05 could you provide material you mentioned on our call

[2021-07-15 19:23] arnodelorme commented on #336
This part is done.

[2021-07-15 19:23] #336 closed, assigned to nobody

[2021-07-15 19:25] arnodelorme commented on #334
This is the video

https://drive.google.com/file/d/168-f5BASXbcz--FvP2gKlYZT4uU4ke4S/view?usp=sharing

[2021-07-15 19:39] arnodelorme opened #352 "MW project: modify preprocess data and participants"

[2021-07-15 19:48] arnodelorme commented on #352
@dungscout96 we had a list of items to modify on the data preparation. What I remember and picked up from the paper.

- Make sure people of the same age for each gender. Maybe create a script to balance participants based on the label used for classification.

- Make sure the exact same number in each class (there was a difference of 1 if I remember well between Males and Females)

- Milham: the H

[2021-07-15 22:38] cll008 commented on #287
Hi @tsgouvea are you still encountering this issue? I'm on a Windows machine and could not replicate the problem on either MATLAB or Octave. In step 4 are there any issues when you select `/dir2/file2.set` from the file explorer UI?

Please set a breakpoint here and check what the `inputname` and `inputpath` are
https://github.com/sccn/eeglab/blob/a7cdc2edbaa45b6a2eb254daa41232fbcb6c33d6/functions

[2021-07-16 13:26] crisglav opened #353 "pop_selects returns the wrong set of channels with 'nochannel' option"
### Description

`outEEG = pop_select(EEG,'nochnnel',badchannels)` returns a different set of removed (bad) channels in `outEEG.chaninfo.removedchans`

#### Steps to Reproduce

Using a 64 channels EEG recording,
[code]

#### Expected behavior:

I would expect to have `EEG.chanlocs(badchannels)` in `outEEG.chaninfo.removedchans`

#### Actual behavior:

I actually have `EEG.chanlocs([badchannels 2 2

[2021-07-16 13:31] dannyzhang86 commented on #70
It was fixed after re-compiled

[2021-07-16 14:38] jnnstchr commented on #336
I'm added to nemar group now and all the paths work as expected

[2021-07-16 15:01] faimai00 commented on #267
This is amazing, thank you so much Cedric for all your help!!
Irene

[2021-07-16 15:19] jnnstchr commented on #334
Am I supposed to run the script on the whole data after all, or just make sure it would work for all the data? I remember we were talking about two options and I'm not sure which one we picked.

[2021-07-16 15:35] jnnstchr commented on #334
@dungscout96 could you send me the list of dependencies you're using in your ml environment?

[2021-07-16 15:52] dungscout96 commented on #334
You only need to check to make sure it would work. Don't need to run on all data. I pushed the environment file here: https://github.com/sccn/childmind/blob/master/environment.yml

[2021-07-16 17:43] arnodelorme commented on #336
Great.

[2021-07-16 18:14] arnodelorme commented on #267
Thanks Cedric,

[2021-07-16 18:20] arnodelorme commented on #267
This one you can submit to the plugin manager.
Tx,

[2021-07-16 19:57] arnodelorme commented on #353
This was fixed recently, and I have just double checked with your code. Have you tried the latest version on Github?

[2021-07-16 19:57] #353 closed, assigned to nobody

[2021-07-16 19:58] arnodelorme commented on #347
Has this been resolved? I am closing the bug report for now, but feel free to reopen.

[2021-07-16 19:58] #347 closed, assigned to nobody

[2021-07-16 19:59] arnodelorme commented on #346
Would you mind sharing the big dataset (Dropbox etc...).
Thanks

[2021-07-16 20:01] #340 closed, assigned to nobody

[2021-07-16 20:01] #310 closed, assigned to nobody

[2021-07-16 20:37] arnodelorme commented on #313
Done

[2021-07-16 20:37] #313 closed, assigned to nobody

[2021-07-16 20:42] arnodelorme commented on #287
I have tried as well and could not reproduce the issue. I am closing the issue for now, but feel free to reopen and send us some files if you think this might be useful.

[2021-07-16 20:42] #287 closed, assigned to nobody

[2021-07-16 20:57] arnodelorme commented on #312
Fixed although I am not sure why because I did not change anything.

[2021-07-16 20:57] #312 closed, assigned to nobody

[2021-07-16 20:57] arnodelorme commented on #296
Closing for now. Feel free to reopen.

[2021-07-16 20:57] #296 closed, assigned to nobody

[2021-07-16 20:58] arnodelorme commented on #246
@amisepa you are the EDF expert. Would you mind checking if we can close this report?

[2021-07-17 01:21] benoalbe opened #354 "error in function mcolon() at line82"
### Description
I'm using eeglab2021, Matlab 2020a and when I try to plot channel measures it appears this error when I'm going to run more two channels
<img width="427" alt="Screenshot 2021-07-17 at 03 19 13" src="https://user-images.githubusercontent.com/87553083/126021152-56397f93-0439-417d-b9d2-a901e8b335a5.png">

[*Description of the bug or feature
Attach a link to Dropbox or Google Drive wit

[2021-07-17 12:16] jnnstchr commented on #334
I cannot set up my anaconda environment properly, I tried running conda env create -f environment.yml to base it on the above yml file, however I get:
 ResolvePackageNotFound:
  - cvxpy
  - torchtext=0.9
  - pytorch=1.8.0
  - stanza.
  Then I decided to install the dependencies manually, which works for some of them, but for instance for pytorch I get:
EnvironmentNotWritableError: The current user

[2021-07-17 21:39] dungscout96 commented on #334
Did you create a new environment and install there or you were on the _base_ env? Maybe you can send the list of commands up until the one that failed. I can share that with Expanse team to see what the issue could be too.

[2021-07-18 14:49] tingyu653 opened #355 "removing one IC from one of clusters"
### Description
After clustering, I removed one of IC from one cluster based on ERPs. After that, I tried to see the result after removing. But I got several errors from Matlab.
![image](https://user-images.githubusercontent.com/85797007/126071581-b75b3c41-9fc5-482d-87ef-94c595858313.png)
The result also doesn't seem right. I found out that the IC I removed still exist, and the name of the IC chan

[2021-07-19 06:20] jnnstchr commented on #334
I created a new environment, but I _might_ have not activated it, I decided to start from scratch and create a new one. The commands I am using right now are:
module load anaconda3
conda create --name ML
conda activate ML

and now the issue:

The abovementioned commands (e.g.  conda init bash) result in:

which from what I understand requires me to have permissions that I don't have right now.
Tha

[2021-07-19 06:26] dungscout96 commented on #334
I vaguely remember this issue.. Can you try
[code]
then paste this at the bottom of it
[code]
Save the changes then `source ~/.bashrc` or open a new terminal and try `conda activate` again

[2021-07-19 22:08] cll008 commented on #354
Hi there, could you be more specific about how I would reproduce the bug? For example, which measures are you trying to plot? What OS are you on?

Looks like `mcolon` may have to be compiled by the user from [here](https://www.mathworks.com/matlabcentral/fileexchange/29854-multiple-colon). Not sure. I'll tag @MakotoMiyakoshi here since ARfitStudio also uses mcolon, maybe he has an idea.

[2021-07-19 22:10] cll008 commented on #355
Could you please elaborate on how you removed the IC, and what process you are using to 'see the result'? Thanks.

[2021-07-19 22:21] MakotoMiyakoshi commented on #354
I'm surprised to learn that EEGLAB uses mcolon... where exactly is it used?

On Mon, Jul 19, 2021 at 3:09 PM Clement Lee ***@***.***>
wrote:

[2021-07-19 22:28] cll008 commented on #354
Not sure, let's see if @benoalbe has more info on which study measure he was plotting...

[2021-07-19 23:18] arnodelorme commented on #355
Would you mind sharing your STUDY, and providing a detailed description on how to reproduce the problem?

[2021-07-19 23:21] arnodelorme commented on #354
Hi Makoto, yes, this is an ARfitStudio problem (not a study problem). The user does not mention using a study.

[2021-07-19 23:22] arnodelorme commented on #346
Please reopen the bug as needed.

[2021-07-19 23:52] jmkendallbar commented on #346
Hello Arnaud & Clement,

Thank you for your help. Sorry for the delay, I was waiting for these
datasets to upload. Please request GoogleDrive access for the following
files and I will give them to you.

Here are links to the datasets:

Dataset 1: excerpt of EDF file with generated ICA Weights:
.set file:
https://drive.google.com/open?id=1zFhFOkFCaMHC6RHGJslNncLnbN4Sye9V&authuser=jmkendal%40ucsc.ed

[2021-07-20 01:00] tingyu653 commented on #355
I pressed the "Reassign selected component(s) " button, and removed the IC from Cls 7 to outlier. To 'see the result', I pressed the 'Plot ERP(s)' button at right column.(Cls 7->all components) immediately.
![image](https://user-images.githubusercontent.com/85797007/126245786-a0f539d9-4cd5-46b4-9743-922670788858.png)
After I posted the question, I tried not to press the 'Plot ERP(s)' button immedi

[2021-07-20 05:56] jnnstchr commented on #334
Hi @arnodelorme, in your dl_vgg16.m script you're importing vgg16.mat file, which according to README should be in vgg16 directory. It looks like it's missing - could you push it to the github? Thank you!
Or is it perhaps the same pretrained model that can be downloaded from DeepLearning toolbox?

[2021-07-20 18:05] cll008 commented on #346
Just requested access, will take a look when able.

EEGLAB automatically saves the `.fdt` when saving `.set` (based on EEGLAB GUI > File > Preferences). The default for 2021 onwards is to save only 1 file, but older versions default to saving `.set` and `.fdt`.

Additional info that could be helpful here, what OS are you using and which version of EEGLAB and MATLAB? Thanks.

[2021-07-20 18:08] jmkendallbar commented on #346
Just provided access, hopefully that works for you.

I am running Windows 10 with EEGLAB version 2021.0 and Matlab R2020b

[2021-07-20 18:10] cll008 commented on #355
I see. Glad you figured it out.
It just takes time to shuffle and reindex the data. We could freeze the GUI or MATLAB when this process is happening but I think we would have more problems doing that.

[2021-07-20 18:10] #355 closed, assigned to nobody

[2021-07-20 18:36] cll008 commented on #346
I confirm receiving the same error when I load your ICA weights applied set file.

However applying the weights and saving the dataset worked for me. When you are applying ICA weights from dataset 1 (with ICA weights), does your menu look like this (I imported the first 9 channels as you said and only the first 1000 timepoints):
![Capture](https://user-images.githubusercontent.com/36056486/1263771

[2021-07-20 18:39] jmkendallbar commented on #346
Yes, this is exactly how I did it. When re-opening the full dataset with the transferred ICA weights (using the same method), I get that error.

Glad that you are able to recreate it so far!

[2021-07-20 19:27] cll008 commented on #346
So I get this message when trying to save the full file as a single `.set` file.
![Capture](https://user-images.githubusercontent.com/36056486/126381459-14777fed-a49e-4222-81e6-7f737ede7f36.JPG)

Changing this setting to save `.set` and `.fdt` separately results in a working file.
![Capture](https://user-images.githubusercontent.com/36056486/126383430-35657441-5243-4332-a8b0-c44fae73d01b.JPG)

Am

[2021-07-20 19:27] #346 closed, assigned to nobody

[2021-07-21 08:55] crisglav commented on #353
Dear Arno,

I have checked the last version of the develop branch and the bug is still there (pop_select.m lines 563-589). Which version should I use?

Best,
Cristina

[2021-07-21 16:42] #354 closed, assigned to nobody

[2021-07-21 20:33] cll008 commented on #298
Sorry I missed this. Looks like the issues were also fixed in a99ae38 and 65aa3d0. If the new code doesn't behave as you expect, do you mind sending a PR so we can compare? Thanks.

[2021-07-21 20:33] #298 closed, assigned to nobody

[2021-07-22 13:37] NirOfir opened #356 "Exporting Fieldtrip data to EEGLAB"
### Description

Hi, I'm working on an EEG dataset on FT, and I wanted to use LIMO to analyze a part of it. Since FT to LIMO interface is not yet clear, I tried exporting the preprocessed and epoched data to EEGLAB, and using LIMO from it. Then I came across the issue of using fiedltrip2eeglab(), which relies on ft_read_data(). From what I understand, this function is used to read data from the di

[2021-07-22 18:39] arnodelorme commented on #352
Summary of call 7/22

- Joanna to check we have all subjects in /expanse/projects/nemar/child-mind-uncompressed (compare to http://fcon_1000.projects.nitrc.org/indi/cmi_healthy_brain_network/sharing_neuro.html)

- Joanna to run scripts https://github.com/sccn/childmind/blob/master/restingstate_prepare_clean_master.m on all subjects and document subjects that fail

- Joanna to check how to package

[2021-07-23 03:22] SionHalim commented on #255
@amisepa can u reupload the file? i have open your google drive link but it says that "Sorry, the file you have requested does not exist." ... its from your shared link https://drive.google.com/file/d/1FQlS4kO3qG8uAhXZFH9juGqKR69irvpF/view?usp=sharing

[2021-07-23 06:55] arnodelorme opened #357 "Download page not redirecting to page asking for consent"
Check cookies

[2021-07-23 07:50] amisepa commented on #267
Ok I'll do that when I have some time ;)

[2021-07-23 07:56] amisepa commented on #246
Sorry, I don't know much on this. @Teuniz In what situation is the physical value not homogenous? Impedance during recording? Glitchy electrode? Can you share how you unify the resolution in EDFBrowser so we could add a similar feature in EEGLAB?
Thanks,
Cedric

[2021-07-23 20:11] dungscout96 commented on #352
Preprocessing script has been updated and also is saving the data matrix for eye closed, as well as subject IDs associated with each sample, at the end of the script. I saved it into a separate file here to keep the old one for legacy purpose: https://github.com/sccn/childmind/blob/master/restingstate_prepare_clean_package.m

[2021-07-24 06:57] amisepa commented on #255
Here is the updated version: https://github.com/amisepa/import_EDF

[2021-07-25 08:48] Teuniz commented on #246
It appears that the writeeeg function uses the actual peak values found in the signal's samples for pys max and phys min.
This is not as intended by the EDF format.
Pys max and phys min should be the clipping levels of the ADC input and they should be the same for all channels.
If this information is not available, for example when converting from another format, use a safe value for all EEG chann

[2021-07-25 10:48] NirOfir commented on #356
OK, I've been reading deeper into the code in pop_fileio and I think I understand it better now. Let me know if I got it right.

In order to import an existing data structure from fieldtrip, we need the header (the output of ft_read_header), a raw data matrix (channels X timepoints X trials), and optionally the events (a string to feed into ft_read_event or the output of the same function).

1. Is

[2021-07-26 09:04] CPernet commented on #356
@arnodelorme can you help?

[2021-07-26 15:54] amisepa commented on #246
@Teuniz  Thank you very much for pointing it out.

@arnodelorme I'll let you decide whether you make this adjustment in writeeeg.

[2021-07-26 23:20] arnodelorme commented on #356
You can recreate the Fieldtrip header structure from the Matlab command line. Look at pop_fileio for what fields are needed in the header. Please submit a report of your efforts here so we can share it with others.

Otherwise, you can also import raw data matrices (variables) using the EEGLAB function pop_imporset.m

[2021-07-26 23:20] #356 closed, assigned to nobody

[2021-07-26 23:26] arnodelorme commented on #246
This is a reasonable assumption, @cll008 would you mind looking at it. Also, test files https://github.com/amisepa/import_EDF

[2021-07-27 00:33] arnodelorme commented on #352
Message from Vijay (for future reference)

As you’ve likely seen: the ONNX importer can be used to import pretrained pyTorch models, i.e. if you’re not able to solve the “data feeding” problem you’re currently facing in MATLAB

https://www.mathworks.com/help/deeplearning/ref/importonnxnetwork.html

[2021-07-27 07:48] NirOfir commented on #356
Thanks for your response. I'll get back to you soon with a more complete code that takes an FT data structure as input, creates the necessary inputs for pop_fileio, and calls it.

[2021-07-27 07:52] NirOfir opened #358 "std_limo sets default method to WSL instead of WLS"
### Description
A small typo in std_limo() line 104 sets the GLM solution method to WSL instead of WLS by default.

Should I make a PR to change
`opt.method         = 'WSL';`
to
`opt.method         = 'WLS';`
?

Thanks!

[2021-07-27 08:21] NirOfir commented on #358
Another thing that I noticed now: std_limo checks in lines 286-296 whether measures were computed (using std_precomp) only after it tries loading the same measures to look for interpolated channels in lines 246-253.

[2021-07-27 10:24] CPernet commented on #358
std_limo()  should PR to https://github.com/sccn/eeglab/tree/develop
@arnodelorme that typo should be in next week release though ..

[2021-07-27 13:10] faimai00 commented on #267
Hi Cedric, just a note - line 99 should import data if they are continuous I believe, but it refers to discontinuous data instead:

    %CONTINUOUS DATA
    if ~discontinuous
        disp('Continuous data detected.');
        if (max(nSrate)-min(nSrate))/max(nSrate) > 0.01
            warning('Sampling rate unstable! This can be a serious problem!');
        end
        for iEv = 1:size(annot,1)

[2021-07-27 13:31] amisepa commented on #267
Yes, discontinuous variable is 1 (true) for discontinuous data and 0 (false) for continuous data. the ~ symbol means the value is 0 so it's ok. However, I forgot to add a line to define it above when data is continuous... I added line 84. You should be good now after doing a pull (or re-download the code from the github page and replace the old one).
Thanks!

[2021-07-27 13:40] faimai00 commented on #267
Many thanks for that Cedric!

Irene
________________________________
From: Cedric Cannard ***@***.***>
Sent: 27 July 2021 14:31
To: sccn/eeglab ***@***.***>
Cc: Faiman, Irene ***@***.***>; Mention ***@***.***>
Subject: Re: [sccn/eeglab] EEGLab EDF+ events misplaced and wrongly named (#267)

Yes, discontinuous variable is 1 (true) for discontinuous data and 0 (false) for continuous data. the ~ symb

[2021-07-27 13:44] NirOfir commented on #358
Ok, I hope I made the PR correctly (I'm used to the way it works in FieldTrip's github, not sure if it's the right approach here). I now understand that the other issue I mentioned was already fixed in February...

Thanks!

[2021-07-27 13:46] #358 closed, assigned to nobody

[2021-07-27 13:46] CPernet commented on #358
+1 all good

[2021-07-27 22:11] cll008 commented on #246
Thanks for reporting the problem @SparshJ and your input, @Teuniz and @amisepa
 @arnodelorme asked me to unify based on the most extreme values in the recording. I implemented it, but do you think we should be cautious about EXG or AUX channels that could have different enough scales to cause problems with the rest of the EEG channels?

[2021-07-27 22:21] cll008 commented on #246
Is the ADC range somewhere in the metadata? Looks like `writeeeg.m` uses a digital range of [-32768 32767] (min is off by 1 compared to FAQ below?) so maybe we can use that for the physical range too...

Excerpt from [EDF FAQ](https://www.edfplus.info/specs/edffaq.html)

Q5. Why not always use -32767 for "digital minimum" and +32767 for "digital maximum"?
Export. It is formally correct EDF as long

[2021-07-28 07:29] Teuniz commented on #246
EXG and AUX channels usually have different scales/ranges compared to EEG channels.
If available, use the values in the header of the original EDF file that has been used for the input.

[2021-07-28 21:24] cll008 commented on #246
@arnodelorme we can store PhysMax and PhysMin in EEG.etc https://github.com/sccn/eeglab/pull/360/commits/33c425cee5fa6e81732fa9806c12b5d073f8c21b and pass this as an argument to pop_writeeeg and as an option to writeeeg. Thoughts?

[2021-07-29 16:07] amisepa commented on #246
Funny, I think I just run into this problem randomly trying to export some preprocessed data as .bdf or .edf:

![image](https://user-images.githubusercontent.com/58382227/127526402-7464b47a-1d6c-487e-aa27-e26ea4e47260.png)

![image](https://user-images.githubusercontent.com/58382227/127527083-57a23c33-077f-47f1-b2cc-452a0b01c230.png)

I think we should hardcode the physMax and PhysMin to the value

[2021-07-31 01:47] jnnstchr commented on #352
Message from Vijay (also for future reference)

With some processing in Python the data can be saved as a ‘mat’ file.

Python Code:

from torchvision import datasets

from torchvision.transforms import ToTensor

import scipy.io

training_data = datasets.FashionMNIST(

    root = "data",

    train = True,

    download = True,

    transform = ToTensor()

    )

x = training_data.train_data.numpy(

[2021-08-01 09:44] NirOfir commented on #356
I'm writing this issues here, so I'll remember them it when I get around to this issue:
1. If channels are interpolated in FT, The order of the channels is broken (interpolated channels are concatenated at the end). This seems to be an issue for EEGLAB, at least when using LIMO.
2. There are a whole bunch of fields in EEGLAB that are never created in FT (setnames and such). I think it will be nice

[2021-08-05 10:19] kathrinsadus opened #361 "Error in pop_epoch: dataset is empty"
### Description
During the preprocessing we encoutered a problem with the epoching of data.
We receive an error indicating that the dataset is empty, although the epochs are present in our dataset.
<br>
#### Steps to Reproduce
We will glady provide the data set and code if needed.
<br>
#### Expected behavior:
Data should be epoched.
<br>
#### Actual behavior:
The first three participants ran smoot

[2021-08-06 04:06] arnodelorme commented on #361
The issue is likely that you are trying to extract long epochs and that you have a recurring artifact that clean_rawdata is catching (therefore inserting boundary events in the middle of your epochs).

The use of contains is wrong in this context because it returns a boolean, not the indices of the boundary events.

Feel free to submit a dataset if you feel this does not answer your question.

[2021-08-06 04:06] #361 closed, assigned to nobody

[2021-08-06 17:56] arnodelorme opened #362 "Loading issue from Paul"
I’m trying to re-precompute channels measures for ERP data for a new STUDY secondary to adding new subjects and all of a sudden things are freezing up after clicking ‘ok.’ Previously I would see all the output processes on the Matlab command window, so I can only assume nothing is completing since nothing shows up on screen. I have to ctrl+c many times to interrupt whatever loop is running. I trie

[2021-08-06 18:34] P-Beach commented on #362
Computer: Macbook Air, 2017 13in with 1.8GHz intel core i5, 8 GB 1600 MHz DDR3 memory, macOS 10.14.6
Matlab 2019a, eeglab 2021.0

Basically, after MUCH troubleshooting, I've found that eeglab will not load or compute anything when dealing with a subject file that was included in a STUDY file I created. It will load .set files for that subject, just not the one that was included in the STUDY.

Unde

[2021-08-06 20:20] arnodelorme commented on #362
@cll008 would you mind to look into this?

The data is below

https://drive.google.com/drive/folders/1chENaMaF7ZuiqGnsGTZRRvXat3FOvEO9

[2021-08-06 21:05] tpapastylianou opened #363 "EEGLAB not listed on the octave package index"
Dear EEGLAB maintainers,

I noticed your package does not appear on the octave package index. Please consider adding it! You can find the octave package index and instructions how to add your package here: https://gnu-octave.github.io/packages/

Ideally, packages should be provided in the octave package format, such that could be installed via octave's pkg command; however, this no longer a strict

[2021-08-07 14:05] amisepa opened #364 "Consistency in power spectra computed in STUDY by std_spec?"
### Description

Unclear what scales/units are returned by some STUDY power spectrum modes. Is it either absolute power or dB? Units in ylabel don't seem to correspond (see images below). It always indicates dB even though values and settings are different.
And outputs should potentially be checked to make sure the correct values are returned. There are a lot of 'if' conditions, conversions, and m

[2021-08-09 08:34] shutli1127 opened #365 "EEGLAB error in function pop_biosig() at line 119"
### Description

[*EEGLAB error in function pop_biosig() at line 119.
data链接：https://pan.baidu.com/s/1PFZrQ7IMTq-4YnGFSQ_8mA
提取码：lar0*]

<br>
#### Steps to Reproduce

1. [*load EEGLAB v2021.1*]
2. [*FIle - Import data - Using the BIOSIG interface*]
3. [*Error in function pop_biosig() at line 119*]

<br>
#### Expected behavior:
[*I want to load .RAW file using EEGLAB*]

<br>
#### Actual behavior:
[

[2021-08-09 17:15] cll008 commented on #362
Looks like the prnd dataset is causing a eeg_checkset & pop_loadset loop. Digging deeper at the mo.

[2021-08-09 17:36] cll008 commented on #362
Stuck here because `EEG.data` is always `in set file`
https://github.com/sccn/eeglab/blob/eb18587231f8956086944beea540a789d7da7834/functions/adminfunc/eeg_getdatact.m#L149-L151

[2021-08-09 17:49] cll008 commented on #362
@P-Beach I have a temporary workaround for you while we track down / patch this bug.
https://github.com/sccn/eeglab/blob/eb18587231f8956086944beea540a789d7da7834/functions/popfunc/pop_loadset.m#L139

After this line add `TMPVAR.data = [TMPVAR.setname '.fdt']` before `end`

If you are currently working with other datasets (particularly if they actually have data in .set instead of a separate .fdt),

[2021-08-09 18:49] cll008 commented on #362
I have some clues but not 100% sure whey `pop_saveset.m` is bugging out. @P-Beach, what version of EEGLAB were you using when this used to work without any problems? Thanks.

[2021-08-09 18:50] cll008 commented on #365
Hi @shutli1127 could you please upload a sample .raw file to a google drive link, along with a screenshot or description about the exact EEGLAB error that occurs. Thanks.

[2021-08-09 21:52] cll008 commented on #357
Getting a MATALB warning on 2020a when trying to test out the rc. Maybe because of remote connection? Will check tomorrow in person.

Internet is connected.

[2021-08-09 23:27] arnodelorme commented on #357
Seems to be a Chrome issue.

[2021-08-09 23:28] #357 closed, assigned to nobody

[2021-08-10 01:21] P-Beach commented on #362
Hi Clement,

Thanks for your help looking into this. I've tried it with 3 versions of EEGLAB: 2019.1, 2021.0, and 2021.1. All more or less have the same problem.

The latter two are identical in the issue - screen appears frozen with out output after the command is entered. 2019.1 repeats the command-line pop_loadset command in a loop visible on screen.

[2021-08-10 07:25] shutli1127 commented on #365
https://drive.google.com/file/d/1-CuPdOEehT6RbTp7j0_8ufb78xu4KlBm/view?usp=sharing. Thank you very much. This is the sample data link. And the error is "Unsuported data format ".

[2021-08-10 16:40] arnodelorme commented on #363
Thank you, we are going to add it.

[2021-08-10 18:26] cll008 commented on #362
@P-Beach Did you try the workaround I mentioned?

Thanks for the info. Did you save the pruned datasets on an earlier version of EEGLAB? When you mention trying with the 3 different versions, that's only for the loading part right?

[2021-08-11 17:30] cll008 commented on #363
https://github.com/gnu-octave/packages/pull/8

[2021-08-11 17:30] #363 closed, assigned to nobody

[2021-08-11 19:02] P-Beach commented on #362
I just tried it (eeglab 2021.0) and it seems to work for the subject file I forwarded as well as for a different one. I am now able to *start* pre-computation of channel measures as well -- though eeglab is telling me .fdt files are not present for some subjects (they are).

I did initially create pruned files using two different versions of eeglab, but I later re-saved them using 2021.0 upon the

[2021-08-11 19:19] cll008 commented on #362
Did these initial pruned files cause the same issue in the other two versions of eeglab before you resaved in 2021.0?

For the subjects that are still not working, please add a breakpoint on the line you added and check if TMPVAR.data points to the correct .fdt file.

[2021-08-11 19:27] P-Beach commented on #362
Actually I may have misspoke. I don't think I got through renaming them all when this issue started happening.

I'm afraid I don't know what you mean about the break.

[2021-08-11 19:45] cll008 commented on #362
No worries, just making sure the workaround is working so you don't have to recreate your files.
I'm closing this issue for now because I don't have the info to track down what caused the files to be saved incorrectly to begin with. Thanks for all your info and help @P-Beach

[2021-08-11 19:45] #362 closed, assigned to nobody

[2021-08-11 20:50] cll008 commented on #365
What amp / system did you use to collect the data? I think the .raw that biosig imports has to be from EGI

[2021-08-12 03:32] arnodelorme commented on #365
.raw is also an EGI format (simple binary).

Arno

[2021-08-13 13:33] ronjafa commented on #242
Hello

I had the same problem and through trial and error came to the solution. Namely, I think that you also have to define ‚limits'. This code worked for me to segment my data into 4 second epochs non overlapping.

EEG= eeg_regepochs (EEG, 'recurrence', 4, 'limits', [0 4])

[2021-08-16 03:10] jdien07 opened #367 "fMRIb plugin doubled"
Hi,
   when I install the fMRIb plugin via “Manage EEGLAB extensions", it now installs two copies:

one in a directory named "fMRIb2.00" and another in a directory named "fmrib2.00 (Case Conflict)"

This in turn causes error messages and other issues, such as:

EEGLAB: adding "fMRIb" to the path; subfolders (if any) might be missing from the path

Joe

[2021-08-16 22:32] cll008 commented on #367
Thanks for reporting the issue. I tried replicating but things installed correctly on EEGLAB 2021.1 and Win10.You can manually remove `..\eeglab\plugins\fmrib2.00` and the error should disappear.

What version of EEGLAB, MATLAB, and OS are you using? Were you installing fMRIb (no previous versions) or were you updating from another version? I'm closing the issue for now but please respond with mor

[2021-08-16 22:32] #367 closed, assigned to nobody

[2021-08-16 23:15] arnodelorme commented on #367
Hi Joe,

I am on a Mac and Clement is on a PC. It works for us. Maybe you did something different. Please reopen the issue if you find the problem.

Arno

[2021-08-16 23:21] arnodelorme commented on #365
This file needs the binary simple plugin of EGI (called EGI legacy). I was able to import the data.

[2021-08-16 23:21] #365 closed, assigned to nobody

[2021-08-16 23:25] arnodelorme commented on #246
@cll008
1. Test if export is a problem (import, export, reimport) -> this should mess up amplitude
2. Implement the -32768 to 32768 max limits

[2021-08-16 23:26] arnodelorme commented on #364
@cll008 what would you recommend

[2021-08-16 23:26] arnodelorme commented on #364
@amisepa what change would your recommend?

[2021-08-16 23:26] arnodelorme commented on #364
@MakotoMiyakoshi what would you recommend

[2021-08-16 23:28] #330 closed, assigned to nobody

[2021-08-16 23:28] #331 closed, assigned to nobody

[2021-08-16 23:28] #332 closed, assigned to nobody

[2021-08-16 23:28] #333 closed, assigned to nobody

[2021-08-16 23:28] #334 closed, assigned to nobody

[2021-08-16 23:28] #345 closed, assigned to nobody

[2021-08-16 23:28] #351 closed, assigned to nobody

[2021-08-16 23:28] #352 closed, assigned to nobody

[2021-08-16 23:42] MakotoMiyakoshi commented on #364
https://github.com/sccn/eeglab/issues/172
'BTW, changing logtrials and/or freqfac values do not seem to make any change.'

no-option results must be >= logtrial results because of triangle inequality. If it does not change the result, it must be a bug.

[2021-08-17 00:31] jdien07 commented on #367
Interesting!  I did more testing.  I did a clean install with v2021.1 on Matlab 2021a on the pop_os distro of Ubuntu 21.04 on a Dropbox folder and this happened again, so it replicates.  But I tried it on OS X 10.15.7 but otherwise the same and it did not happen.  So it seems to be OS dependent.  Not sure what else I can do testingwise but let me know.

Cheers!

Joe

------------------------------

[2021-08-17 00:41] jdien07 opened #368 "fMRIb plugin doubled (#367) reopened"
Since you said to reopen it if I could replicate the problem, I did more testing.  I did a clean install with v2021.1 on Matlab 2021a on the pop_os distro of Ubuntu 21.04 on a Dropbox folder and this happened again, so it replicates.  But I tried it on OS X 10.15.7 but otherwise the same and it did not happen.  So it seems to be OS dependent.

Under the hypothesis that Dropbox might have something

[2021-08-17 01:25] jdien07 commented on #368
Further investigation online confirms that the "Case Conflict" annotation is provided by Dropbox since Linux is case-sensitive but Windows is not so it is intended to prevent problems when sharing files across platforms.  The reason why there are two different copies of fmrib with different cases when installing with the Extensions Manager on a clean (just unzipped) copy of EEGlab remains unclear

[2021-08-17 16:13] cll008 commented on #367
Thanks Joe. I'll take it from here and check it out on my unix box, maybe the zip needs to be renamed correctly...

[2021-08-17 17:32] cll008 commented on #367
Confirming that on unix the `tmp.zip` from urlwrite contains both lowercase and correct-case folders.

[2021-08-18 01:07] cll008 commented on #367
Thanks again for the report and your help Joe. Turns out the zip contained a duplicate folder (which is invisible to case insensitive OSs). Reuploading the correct plug-in now, changes may take some time to reflect.

[2021-08-18 01:50] jdien07 commented on #367
interesting!  didn’t realize OSes differed in case-sensitivity.  thanks for the update!

Joe

--------------------------------------------------------------------------------

Joseph Dien, PhD
Senior Research Scientist
Department of Human Development and Quantitative Methodology
University of Maryland, College Park
Editor-In-Chief of Biological Psychology (along with Thomas Ritz)
E-mail: ***@***.*

[2021-08-23 15:57] cll008 commented on #368
Thanks for the additional testing Joe. Actually the issue is the fmrib2.00 zip itself, which contains a duplicate (I left some notes in the other closed bug report). This should be fixed now (I uploaded a new copy of the plug-in which only has 1 folder (instead of 2 folders with 'different' names).

Also you can 'comment and reopen' on a closed bug report, just an FYI.

Thanks again for your help.

[2021-08-23 15:57] #368 closed, assigned to nobody

[2021-08-23 18:49] shabnamayat opened #369 "file not properly imported from bdf files with EEGlab v2021.1"
Hello,

I'm currently using the latest version of EEGLAB and Matlab R2018b. When importing a BDF file from Biosemi (BIOSIG toolbox),  I receive multiple warnings. A list of these errors can be found below:

Reading data file header...
Warning SOPEN: number of event onset (TYP=7C00) and event offset (TYP=FC00) differ (0,1)
WE HIGHLY RECOMMEND THAT YOU CHOOSE A REFERENCE CHANNEL IF THESE ARE BIOSEMI

[2021-08-25 01:49] arnodelorme opened #371 "MW: Implement cloud-based continuous integration for testing automation"

[2021-08-25 01:50] arnodelorme opened #372 "MW: Expand testing coverage"

[2021-08-25 01:50] arnodelorme opened #373 "MW: Demonstrate xunit testing framework"

[2021-08-25 10:49] faimai00 commented on #267
Hi Cedric,

I hope all is well with you.
I just wanted to let you know that there are some errors with the part of the code that adds boundaries between segments so that EEG lab can automatically correct the discontinuity offsets.

I have detected 2 types of errors: Error 1 (line 231) and Error 2 (line 236), see screenshots below:
<img width="665" alt="Error 2_RKS04" src="https://user-images.githu

[2021-08-26 18:58] cll008 commented on #246
[-32768 32768] is already implemented as digital min/max. I tested [-3200 3200] physical min max as suggested, and found that while EEG channels are okay (0.02% difference from import>export>reimport due to rounding error), ECG channel in test dataset was different by up to 50%. This is because the test file had physical range of [-5353 5353] and the ECG signal was bottomed out to begin with.

@ar

[2021-08-27 19:36] arnodelorme opened #375 "EDF+ import issue"
File is below

https://drive.google.com/file/d/1iXF_4bG4HvI-wcENr43nCxsaklB_yMX3/view?usp=sharing

@schloegl could you tell us what the problem is. Seems to be a valid file.

[2021-08-27 19:48] schloegl commented on #375
What problem do you see ?

[2021-08-27 20:05] arnodelorme commented on #375
It is an event problem

On Fri, Aug 27, 2021 at 9:48 AM Alois Schlögl ***@***.***>
wrote:

[2021-08-27 20:16] schloegl commented on #375
Tested with various Biosig tools, and do not see anything unusuall.
What is needed to reproduce the issue ? What outcome do expect, and what do you acutally get ?

[2021-08-28 04:50] arnodelorme commented on #375
This is the full error. Let me run more tests on this file.

Index exceeds the number of array elements (1).

Error in edfannot2evt (line 57)
			s2 = t1(ix(1)+1:ix(2)-1);

Error in sopen (line 1062)
		HDR = edfannot2evt(HDR);

Error in pop_biosig>readfile (line 298)
dat = sopen(filename, 'r', channels,'OVERFLOWDETECTION:OFF');

Error in pop_biosig (line 194)
    [dat, DAT, interval] = readfile(fil

[2021-08-28 05:34] arnodelorme commented on #375
This was due to BIOSIG 3.3.0. Upgrading BIOSIG fixed the issue.

[2021-08-28 05:34] #375 closed, assigned to nobody

[2021-08-30 19:16] cll008 commented on #369
Hi @shabnamayat, the error messages are saying that the number of event `onsets` do not match with the number of `offsets`. Do you know what is expected from the data? It's possible that this warning can be ignored, the way to find out is to check the `EEG.event` structure,

What kind of experiment is this? Looks like there is a consistent and strong artifact following one event.

[2021-08-30 23:05] arnodelorme commented on #369
@schloegl do you know about these warnings?

[2021-08-30 23:06] #181 closed, assigned to nobody

[2021-08-31 07:19] schloegl commented on #369
The warnings are there because:
1) Biosig represents event in an event table, with a rather strict representation of events, using position POS and TYP, or alternatively POS, TYP, DUR, CHN. (see also http://pub.ist.ac.at/~schloegl/matlab/eeg/EventCodes.html ), and bit16 in TYP is used as indicator for the offset (i.e. end) of an event.
2) the decoding of these events from the BDF annotation channe

[2021-09-01 06:22] vnsasson opened #376 "Cant send questions in eeglablist"
Cant send questions in eeglablist

[2021-09-01 15:57] santonial opened #377 "Error in Plot channel measures: Not plotting every subject"
### Description

Hi all,
I am working on a study including 2 groups (16 subjects one group, 20 subjects the other). The study is as following:

![immagine](https://user-images.githubusercontent.com/83275467/131703191-78f7421b-a8dd-4ba0-8bbb-aa87682491d1.png)

In the study design, I made sure I have two groups. However, when I precompute and plot channel measures, only the first 16 subjects are pre

[2021-09-01 22:06] amisepa commented on #246
@cll008 I still get this error when importing a .bdf file with biosig toolbox, and try to export it as .bdf

![image](https://user-images.githubusercontent.com/58382227/131751487-83211658-3253-460a-b63b-1fc10a09ac36.png)

Looks like the physical min/max is not allocated to each channel maybe?

There might be solutions to this issues in the conversation shared by Teuniz above. e.g.:
"the datarecord

[2021-09-01 22:08] amisepa commented on #267
Hi,
Sorry I'm not going to be able to look into it for the next 3 months probably.

[2021-09-02 01:09] amisepa commented on #267
Ok I actually worked on it quickly because it was a simple issue due to empty events. It works now for both files if you do a pull of the repo.

[2021-09-02 01:09] #267 closed, assigned to nobody

[2021-09-02 01:30] amisepa commented on #364
Based on this present issue, and past ones (#175 and #172), in a world where someone had time to do it, it would be great to review all the functions that underly power spectra computation and plotting, correct them, and make a simpler version. Currently, if I understand correctly, PSD is first computed in dB by spectcomp in spectopo, using either pwelch or spec method depending on presence or abs

[2021-09-02 08:04] #377 closed, assigned to nobody

[2021-09-02 17:31] cll008 commented on #246
Thanks for the input and the summary from the other thread Cedric. The PhysMax and Min are in, but I'm going to check the rest of your test files to see if +-5353 is a more common range than +-3200. PhysDimCode seems to code for the unit, I guess `writeeeg` never cared about this but it's pretty important. I also wonder if we should change the data length so that the sampling rate doesn't get fudg

[2021-09-02 17:59] amisepa commented on #246
Just to clarify:
My error comes from exporting a file (BDF or EDF that I preprocessed in EEGLAB) as .BDF or .EDF, to allow someone to visualize it easily in EDFBrowser. So I think my error is from the exporting functions. But it indicates that there might be something going on with the physMax/Min information somewhere (specifically, the pshyMax/Min is expected to be defined for each channel, whic

[2021-09-02 19:02] cll008 commented on #246
Yes currently in `writeeeg` PhysMax and Min can be defined. I've been testing the changes downstream in EDFBrowser too. @arnodelorme decided we want to hardcode this to a reasonable value (unlike the previous scheme which leads to problems by using each signals' max). Really the best is to keep the header info if available but I guess we don't want to add another field to the EEG struct.

[2021-09-02 22:36] MakotoMiyakoshi commented on #364
Is it true that first 'computed in dB' 'Then it is converted to dB' i.e. dB-conversion of dB is used? Or am I reading it wrong?

[2021-09-02 23:23] amisepa commented on #364
Sorry, that is what I said but it's a mistake.

In std_spec:
if 'logtrials' is 'on' (line 303:)
     line 311: compute PSD in dB by calling _spectopo_, which call _spectcomp_, which uses either _pwelch_ or _spec_ functions (here not sure what the units are. Watts per Hz?)
     line 321: if 'logtrials' is 'off', converts to abs, else keeps in dB
else
     line 328 and 329:  compute PSD in dB and co

[2021-09-03 16:15] MakotoMiyakoshi commented on #364
Dear Cedric,

which uses either *pwelch* or *spec* functions (here not sure what the
units are. Watts per Hz?)

Just reading the code, but spectopo() line 882 shows 'eegspecdB' as the
first output from spectcomp() function, but the variable eegspec is a sum
of pwelch() results. So eegspec seems to have a unit of microV^2/Hz, not
dB-converted yet. Later in line 372 for example, I found

eegspecdB =

[2021-09-05 18:22] olafdimigen opened #378 "Tiny issue: Persistent typo in EEGLAB startup"
### Description
Surely the smallest and most nitpicky/obsessive issue I will ever create, but it just bugs me a little each time that whenever one starts EEGLAB (v2021.1 and prior versions), one is immediately greated with a typo (in the 3rd command window output line)  :-)

`Retreiving download statistics...`  % --> Retrieving

[2021-09-06 01:53] jacobsen-noelle opened #379 "ERSP plotting-Error in function newtimefbaseln() at line 112"
### Description

EEGLAB error in function newtimefbaseln() at line 112:
Index in position 2 exceeds array bounds.
![image](https://user-images.githubusercontent.com/46551692/132149390-39f20308-e157-4c7f-9523-22f1f282989f.png)

It seems like the x input to this function is empty, which is why there's an error with the index exceeding array bounds.

<br>
#### Steps to Reproduce

1. Load STUDY, datas

[2021-09-07 17:00] cll008 commented on #376
Hi, what email address are you using to send questions?
What questions are you asking?

[2021-09-07 17:01] #369 closed, assigned to nobody

[2021-09-07 23:10] arnodelorme commented on #379
Would you mind to upload your data (or send a separate link). If the whole study is too large, just upload a couple of subjects.

[2021-09-07 23:14] arnodelorme commented on #378
Fixed. Thanks

[2021-09-07 23:14] #378 closed, assigned to nobody

[2021-09-07 23:14] cll008 commented on #246
Turns out the test files have inconsistent `PhysMax` (5353, 5000, 8092, 8719, etc.) so it seems using the max of all channels is a good way to go (barring storing header info on read). I also found a `PhysDimCode` of 4256+19 codes for uV so I added that to prevent our warning message on import. (`PhysDim` of uV is already coded for so shouldn't actually cause any issues)

[2021-09-07 23:15] #376 closed, assigned to nobody

[2021-09-08 21:06] arnodelorme opened #382 "Mobilab plugin xdf import"
There is a path issue (xdfimport plugin not found)

[2021-09-09 00:39] jacobsen-noelle commented on #379
I think the issue may have been that I had a field called EEG.event.condition, and it was conflicting with EEG.condition (which is empty). The function may be trying to find my ersp data at an empty index indicated by EEG.condition. I am going to see if changing the event field name to EEG.event.cond will help avoid this confusion. I was not aware this would affect ERSPs. I will let you know if th

[2021-09-10 04:21] amisepa commented on #364
@MakotoMiyakoshi

I see, indeed, thanks!

[2021-09-10 04:25] amisepa commented on #246
Sounds good. FYI: I don't know how these files were recorded and with what system, so I don't know if we should base this decision on them (although helpful). Maybe you can double-check with some more standard files (e.g., biosemi file attached)

[6e8691ffd0_eyesclosed.zip](https://github.com/sccn/eeglab/files/7141235/6e8691ffd0_eyesclosed.zip)

Cedric

[2021-09-13 17:26] cll008 commented on #382
https://github.com/sccn/mobilab/blob/b4520db251aa6a5d45b3903286e3a6bdf7290592/dataSourceXDF.m#L38

Looks like it can't find `load_xdf` here, which is nested in plugins/xdfimport<V#>/xdf

Maybe this error has been happening since https://github.com/sccn/mobilab/commit/4d620bf7d462f318fcdc89ddd76c3d1968eb595c

[2021-09-15 18:41] amisepa commented on #267
@faimai00 Is it working ok now?

[2021-09-17 13:43] faimai00 commented on #267
Yes I think it is working perfectly! Many thanks!

[2021-09-20 14:06] Egofritte opened #383 "Error in std_precomp.m"
### Description

Hello,
i was trying to precompute channel measures (power spectrum) in a STUDY with two datasets of continuous data from the same subject. But instead of channel measures, i got the error attached in the file. As it is kind  of simliar to the error reported here (https://github.com/sccn/eeglab/issues/147), i tried the fixed version of the function std_precomp.m (https://github.com

[2021-09-20 18:12] cll008 commented on #383
Hi @Egofritte can you type 'edit std_precomp' and show me what line 234 looks like? When you use the function from issue #147 does the new error show at a different line?

I also just spoke with @arnodelorme and he whipped up https://github.com/sccn/eeglab/commit/30f2b88f7462b5f126215aa702bd404c72f309e9
Please test it and let us know if that works. Thanks!

[2021-09-20 19:36] #246 closed, assigned to nobody

[2021-09-20 19:49] arnodelorme commented on #379
Yes, please let us know. Closing this issue for now but feel free to reopen.

[2021-09-20 19:49] #379 closed, assigned to nobody

[2021-09-21 00:28] #382 closed, assigned to nobody

[2021-09-21 07:21] Egofritte commented on #383
Hi @cll008,

i added the additional code from @arnodelorme in https://github.com/sccn/eeglab/commit/30f2b88f7462b5f126215aa702bd404c72f309e9 to 'std_precomp'. The error remained the same. But after installing the 'Parallel Toolbox' the error resolved. However, i do not have checked the respective option in 'Preferences'.
So i need this toolbox to run the function, even though i dont use this toolb

[2021-09-21 16:14] cll008 commented on #383
Interesting... It doesn't seem to make sense for the error to be the same (at least the line number should be different)? Could you  also set a breakpoint at 233? It seems like `option_parallel` should be 0 if you don't have the toolbox (or if you have the option set to not use toolboxes) and that `gcp()` should not be called.

Ideally the fxn works regardless of whether the toolbox is installed o

[2021-09-21 20:13] VictorGimenez opened #384 "Error to import Neuroscan .CNT file"
I am facing an issue at the moment when I try to upload a .CNT extension file through: File > Import Data > Using EEGLAB functions and plugins >  From Neuroscan .CNT file, it is showing me that there is an error at the loadcnt() at line 'str2mat' undefined near line 693 column .

Here is the error: https://drive.google.com/file/d/1mLi-WPdhjwrSzdhWcUO_qJPYj9zrMcik/view?usp=sharing

<br>
#### Steps

[2021-09-22 15:19] Jacsbill opened #385 "Plugin Error - EEGlab won't load - BUG"
### Description

EEG lab had suddenly stopped loading, having been working only two days ago with not changes to my laptop. It is an error with plugin_getweb
This issue has been reported here: Plugin parsing error #160, by @arnodelorme, but with no solution I can make out.

<br>
#### Steps to Reproduce
Running eeglab via command line (was working yesterday)

<br>
#### Expected behavior:

<br>
####

[2021-09-22 17:26] DouweHorsthuis commented on #385
I seem to have the exact same issue using the same versions of everything @Jacsbill mentions
but when I load an older versions (v14_1_2b) EEGLAB works normally.

[2021-09-22 18:09] Jacsbill commented on #385
@DouweHorsthuis:- I've got my batch code temporarily working by running EEGlab from the root folder and manually adding path to the plugins I want before running code. It seems to work as long as I don't have anything that calls the eeglab function. A fix would be good though - I suspect this is an issue connecting to EEGLab server and might be a central bug.

I've also pretty throughout checked f

[2021-09-23 00:48] yunshufan commented on #159
I encountered a similar issue today:
![image](https://user-images.githubusercontent.com/32801111/134440126-2635c1f5-8daf-4199-891e-91df21b43b44.png)
It wasn't there yesterday.
I'm using Matlab2021a and eeglab2019_1
Do I need to download and install the newest version of eeglab?

[2021-09-23 11:43] Jacsbill commented on #385
@DouweHorsthuis - I have done a quick fix on this. the function plugin_getweb is reading the first lines of the plugins. Basically, in the example above it should be reading after FDA. I think this is a bug, but as a quick fix to continue working I've just ammended line 43 of the plugin to not read past FDA

`  disp( [ 'Retreiving download statistics...' ] );
    [stats, status] = plugin_urlread('

[2021-09-23 14:58] DouweHorsthuis commented on #385
@Jacsbill Thanks for the solution. I moved to the 2021 version (it was time for me to update anyway).

[2021-09-23 15:03] Jacsbill commented on #385
@DouweHorsthuis is it all working with 2021? I tried 18 on another laptop and had same issue. I'll upgrade when I've finished pre-processing for this project.

[2021-09-23 15:19] DouweHorsthuis commented on #385
@Jacsbill yes, no problems for V2021.1 and no problems for v14_1_2b

[2021-09-23 16:21] arnodelorme commented on #385
OK, thanks. I am going to close the issue. Feel free to reopen. Cheers

[2021-09-23 16:21] #385 closed, assigned to nobody

[2021-09-23 18:42] b000z commented on #159
![eeglab error](https://user-images.githubusercontent.com/91285104/134565254-b89fb192-a54d-4315-9aa8-07d91b826ae8.png)

I encountered almost this problem yesterday with matlab r2020a and eeglab2019_1. I followed the instructions both https://github.com/sccn/eeglab/issues/20 and https://www.mathworks.com/matlabcentral/answers/130359-how-do-i-change-the-java-virtual-machine-jvm-that-matlab-is-using-

[2021-09-23 19:31] yunshufan opened #386 "issue with plugin_getweb"
### when I type "eeglab" to load the GUI, I got the following error message:
![image](https://user-images.githubusercontent.com/32801111/134571427-e0f6189c-b401-4c4c-bf56-84cdd3c15c57.png)

<br>
#### Versions

|   |   |
|----| ---- |
| OS version     | [Windows 10] |
| Matlab version | [2021a and 2019b] |
| EEGLAB version | [eeglab2019_1] |

[2021-09-23 19:54] arnodelorme commented on #386
Are you using EEGLAB 2021.1?

@cll008 would you mind answering?

[2021-09-23 23:31] VictorGimenez commented on #384
How could I proceed? Thanks

[2021-09-24 03:59] yunshufan commented on #386
I’m using eeglab2019_1

-Yunshu

[2021-09-24 04:12] arnodelorme commented on #386
Could you update to EEGLAB 2021.1 and try again?

[2021-09-24 08:00] Jacsbill commented on #386
@yunshufan see https://github.com/sccn/eeglab/issues/385 for a quick fix if you don't want to update just yet (worked for me to finish my current batch)

[2021-09-27 08:34] diana-izdrui opened #387 "Extract epochs on selected data"
The EEGLAB toolbox cannot proceed to extract epochs on a selected data.

1. Select a specific range of data (using the Select data button)
2. Insert events every 0.1s (Edit -> Event values -> Insert events)
3. Extract epochs (Tools -> Extract epochs) -> the program cannot proceed to extract epochs to the selected data. It creates the epochs file, but with 0 Bytes and it returns to the first data i

[2021-09-27 10:18] naloui1 opened #388 "Plugin Error - EEGlab won't load"
Hello,
I got the following errors when trying to load eeglab 2019_1 (by typing eeglab):

**Index exceeds the number of array elements (74).
Error in plugin_getweb (line 63)
    plugin(iRow).downloads = stats{2}(iRow);
Error in eeglab (line 914)
        pluginTmp = plugin_getweb('', pluginlist, 'newlist');**

I saw in  (https://github.com/sccn/eeglab/issues/385) that we can quickly fix  the problem

[2021-09-27 18:54] #386 closed, assigned to nobody

[2021-09-27 19:24] cll008 commented on #388
12 because there are 12 fields in stats2 that need to be replaced. 61 to trim all lines after FDA.
I'll talk to @arnodelorme about it later. Looks like the stats fields are shifted (either formatting probably or someone uploaded something with missing fields). If we can't track down the root of the problem, the truncation that @Jacsbill came up with is a good fix.

I'm going to link #386 here as w

[2021-09-27 19:27] cll008 commented on #387
Could you elaborate on some of your steps? e.g. in step 2 did you name your events? After step 2, do the events appear when you check the channel scroll plot? In step 3, how are you selecting the epochs?

You can also share your file at different stages here and I can take a closer look.

[2021-09-27 19:30] VictorGimenez commented on #384
I am very stuck on it, and there isn't another version about the neuroscanio package to download, it looks like be a issue involving anything on this function `loadcnt()`, the picture was private before I realized it but now it's public to check it out.

[2021-09-27 19:32] cll008 commented on #384
Hi Victor, thanks for your patience.
If we check 'help str2mat' in the Octave command line we find that it is a file that is not yet implemented.
Please try the following:

1. \>edit loadcnt to open up the script (or open in your favorite text editor)
2. Navigate to line 693 where `str2mat` is
3. Replace `str2mat` with `char`
4. Save the changes to the script
5. Try to load file again

Let me know

[2021-09-27 19:34] #383 closed, assigned to nobody

[2021-09-27 19:42] VictorGimenez commented on #384
Hey @cll008 thank you so much for the reply and the solution!! It worked until now and I'm in the Dataset info -- pop_newset() window, I hope that after this fix I am not gonna receive more errors!!

[2021-09-27 21:04] cll008 commented on #384
Awesome. I'll close this for now but feel free to follow up here or open another issue should one arise.

[2021-09-27 21:04] #384 closed, assigned to nobody

[2021-09-27 23:20] cll008 commented on #388
Thanks everyone for reporting the issue. Turns out the FDA description was formatted in a way that the older versions of EEGLAB cannot parse. Should start working again once the server updates.

[2021-09-27 23:20] #388 closed, assigned to nobody

[2021-09-27 23:23] cll008 commented on #382
Note: PR was rejected but separate fix https://github.com/sccn/mobilab/commit/2a7f2e7994b62f50767528d9311f04808c55dc30 should address the problem

[2021-09-27 23:25] arnodelorme commented on #387
This is likely because you are trying to extract epochs which are too long.

[2021-09-27 23:33] arnodelorme commented on #383
This is because you do not have the parallel processing toolbox. Would you mind to overwrite this function and let us know if it fixes the problem.

https://github.com/sccn/eeglab/blob/develop/functions/studyfunc/std_precomp.m

[2021-09-28 07:50] diana-izdrui commented on #387
@cll008, please see below the extended steps:

1. Import data (already cleaned - 90s)
2. Edit -> Select data ->Time range [min max] (s) 3.137 5.642 -> Ok (epoch start 0.0s, epoch end 2.504)
3. Plot -> Channel data(scroll) - to check (ok)
4. Edit -> Event values -> Insert values -> Type 1 -> Latency from 0 to 2.5s, step 0.1 (26 values) -> Ok
5. Tools -> Extract epochs

@arnodelorme the events are e

[2021-09-28 08:04] Egofritte commented on #383
Hi @arnodelorme,
i deinstalled the parallel processing toolbox to check whether the function now works with the changes you made. The result is a new error at line 468:
![eeglab_error6](https://user-images.githubusercontent.com/91064216/135046780-f973c4ec-14df-4083-ab3b-ad5a01e10262.JPG)

I thought the fxn should work regardless of whether the toolbox is installed or not (see @cll008 comment above

[2021-09-28 17:31] cll008 commented on #387
Step 5. What are your epoch limits when you extract the epoch? If you are leaving it at the default [-1 2] seconds then this won't work because you only selected 2.504s of data...

Closing the issue for now but feel free to continue commenting!

[2021-09-28 17:31] #387 closed, assigned to nobody

[2021-09-29 04:29] diana-izdrui commented on #387
Hello Clement,

Thank you for answering! I understand now. There is another question in my mind: How can I modify the epoch limits? I was unable to find how to modify it.

[2021-09-29 05:01] diana-izdrui commented on #387
@cll008 @arnodelorme Thank you for answering! I understand now where I've been doing it wrong.

[2021-09-29 06:29] jjurgiel opened #389 "ERSP plot mismatch in eeglab2021 vs eeglab14"
### Description

I'm seemingly unable to produce correct study ERSP plots for IC clusters in eeglab2021 (unless I'm missing some newly added specifier), compared to those obtained using eeglab14 (which is what I was using prior). Study is using a paired analysis (2 conditions per subject ID, 1 group). Data from each subject is from the same session (same ICs within subject).

eeglab14 dipole decom

[2021-10-04 19:44] ethanbb commented on #388
It looks like a similar issue is happening now with the EYE-EEG plugin (I think there are tabs in the description) - can that be fixed as well? Meanwhile, I will update manually.

[2021-10-04 20:11] cll008 commented on #388
@ethanbb thanks for reporting. Is this also an EEGLAB 2019 issue?

[2021-10-04 20:17] ethanbb commented on #388
Yes, it happened with a 2019 version, but not with the latest 2021 version.

[2021-10-04 23:52] cll008 commented on #388
Thanks for reporting (and doing it on one thread). Arno just fixed this now. Will keep at eye out for carriage returns in the future...

[2021-10-04 23:52] arnodelorme commented on #389
Would you mind to upload your study and we will investigate. Drag and drop the whole study below.

https://drive.google.com/drive/folders/14M8bmSxCDUzvdKL4s6G7tskq0q-1jIo5?usp=sharing

[2021-10-05 03:45] arnodelorme opened #392 "ITC bootstrap values larger than 1"
Ana to share data and how to recreate the issue.

[2021-10-05 06:22] Jacsbill commented on #388
Just to note that the 61 value for the quick fix above changed with the current bug, so you have to check where the trim is needed in stats every time.

I'll be updating to matlab 2021 now I've finished my current project preprocessing rather than relying on quick fix.

[2021-10-05 16:13] cll008 commented on #388
Thanks for the note @Jacsbill. We're correcting the problems on the plug-in server itself (changing text description to remove special characters). The reason this isn't an issue in 2021 is because the script automatically handles this.

[2021-10-05 19:31] jjurgiel commented on #389
I uploaded the study file and subject files. I didn't upload the .icatimef files as they're quite large, but please let me know if you'd like those from my end. They're simply component ERSP files using  'baseline', [-3500 -2500], using all ICs, as I think is described in study history.

[2021-10-05 19:34] arnodelorme commented on #389
@cll008 would you mind to have a look?

[2021-10-08 11:11] kissadamfkut opened #394 "Epoch import"
Hi there,

I am trying to import time locking events, and trial events to my EEG record. I've created an event file like this:

latency type
135440 ScreenOn
140098 ScreenOn
143557 ScreenOn
147138 ScreenOn
...

I can import this using the import events menu, works great. The epoch extraction menu works also. Then I want to use pop_importepoch(), which fails. My epoch file looks like this:

screenon

[2021-10-08 11:22] kissadamfkut opened #395 "Epoch extract breaks latency field in EEG.event"
Hello!

I'm trying to import a data to the EEG lab. The event file looks like this:

[code]
After the import process (```EEG = pop_importevent( EEG, 'event','/EEG_process/data/22.event','fields',{'latency','type'},'skipline',1,'timeunit',NaN);```) the EEG.event structure looks like this, which is desired and okay:
![image](https://user-images.githubusercontent.com/8297886/136547552-4a029d81-13e0-4

[2021-10-11 23:20] cll008 commented on #395
Hi Adam,
After epoching, `EEG.event.latency` should be sample count from the start of the epoch, so if that is not the case then we have a problem. The 'true' event information is stored in `EEG.urevent`

Could you share the file so I can take a look?

[2021-10-11 23:20] #395 closed, assigned to nobody

[2021-10-11 23:24] cll008 commented on #394
Please share your file and script so I can take a closer look.

[2021-10-11 23:25] arnodelorme commented on #392
Clement is looking into it

[2021-10-11 23:52] cll008 commented on #392
ITC values are fine, there was a question about the `statcond.m` function's `surrog` output, which is apparently the f-values from the surrogate tests, not the surrogate data itself.

[2021-10-11 23:52] #392 closed, assigned to nobody

[2021-10-12 08:13] kissadamfkut commented on #394
The event and epoch files are in the issue. The first three events are enough to reproduce the situation. The script is also pasted. For the waveform any random data should be okay. The sample freq I used was 2048 Hz.

Thank you!

[2021-10-12 17:48] cll008 commented on #394
Hi I don't see a link for the files or any attachments, could you share those instead of pasting the raw text?

[2021-10-12 17:49] cll008 commented on #395
You mentioned your sampling rate of 2048 Hz in #394. Based on `latency` above that puts your events at 1s and 4s, which seems plausibly not broken. Could you confirm?

[2021-10-12 23:39] arnodelorme commented on #270
Moved to BIDS

[2021-10-12 23:39] #270 closed, assigned to nobody

[2021-10-13 12:33] kissadamfkut commented on #395
Yes, it looks great in this point of view. Knowing after epoching the latency is relative to the start of the trial everything is fine. Thank you!

[2021-10-13 12:34] kissadamfkut commented on #394
Hello!

[Here](https://github.com/sccn/eeglab/files/7338026/issue_394.zip) you can find the source files. Thank you!

[2021-10-14 10:25] SarviD opened #398 "Undefined function 'gcp' for input arguments of type 'char'"
### Description

I want to precompute the power spectrum for the channel measures in a study design and I received the following error of " Undefined function 'gcp' for input arguments of type 'char' "

<br>
#### Steps to Reproduce

1. Load existing study
2. Study > precompute channel measures > list of measures to compute > power spectrum

<br>
#### Expected behavior:
I want to compute the differ

[2021-10-14 22:26] cll008 commented on #394
Could you share the 0422.bdf as well? It's not clear to me what your error is and I can't really reproduce it to help you given the info. That said, maybe the 'proper' way to move forward here is to treat everything as events: it looks like your events 'Screen On' and "Button Down", which contains latency info. You can add both events, then continue to process by time-locking to 'Screen On'.

Some

[2021-10-14 23:33] cll008 commented on #398
Hi there, does the error tell you which file and line number the error occurs?
This may be related to #383, please also try using the develop version of EEGLAB (or overwriting `std_precomp` with the [latest version](https://github.com/sccn/eeglab/blob/develop/functions/studyfunc/std_precomp.m).

[2021-10-15 08:42] SarviD commented on #398
Hello,

Thank you for your reply.
I attached a screen shot of the error so you can take a look.

Even though I tried the previous version of the eeglab and it worked.

kind regards,
Sarvenaz PIRONNEAU-DANESHGAR
PhD candidate - EXECO (EXercice, SEnsorimotricite, COgnition) Research Team
Office Number : R.09 - Tel : 05.49.45.46.82
Centre de Recherches sur la Cognition et l’Apprentissage (CeRCA)
Univ

[2021-10-15 17:14] arnodelorme commented on #398
I believe this was fixed recently, but it is not in the released zip version yet.

[2021-10-15 19:17] cll008 commented on #398
@sarviD I don't see a screenshot could you please try sharing again? And did you try replacing std_precomp?
@arnodelorme yes most likely. Although when revisiting #383 I noticed our fix wasn't complete (see PR #399 for additions)

[2021-10-18 23:10] #398 closed, assigned to nobody

[2021-10-18 23:10] #394 closed, assigned to nobody

[2021-10-19 06:58] SarviD commented on #398
Hello

Here is the screenshot.

Have a nice day!

Sarvenaz PIRONNEAU-DANESHGAR
PhD candidate - EXECO (EXercice, SEnsorimotricite, COgnition) Research Team
Office Number : R.09 - Tel : 05.49.45.46.82
Centre de Recherches sur la Cognition et l’Apprentissage (CeRCA)
Université de Poitiers - UMR CNRS 7295

From: "Clement Lee" ***@***.***>
To: "sccn/eeglab" ***@***.***>
Cc: "SarviD" ***@***.***>, "Ment

[2021-10-19 16:55] cll008 commented on #398
@SarviD I still don't see it. Could you please check the thread on github, maybe email is blocking attachments for some reason.

Thank you and wishing you a nice day as well.

[2021-10-20 07:31] GaganDK opened #400 "Same data, same version of darbeliai plugin, different value of absolute power on different computers"
Dear Members,

I loaded a 16 channel eeg-dataset,  single epoch, to eeglab and then employed the darbeliai plugin to compute the absolute power. It works, but.
When I did this procedure with same eegdata-set on 3 different machines it was observed that the results being computed are 3 different sets of values. In short 3 computers/machines are giving 3 different results.
To elaborate the issue, ea

[2021-10-20 19:55] jacobsen-noelle opened #401 "ERSP single trial normalization, different results with newtimef vs std_precompute"
### Description

Calculating ERSPs with single trial normalization produces different results with command line newtimef() than STUDY functions std_precompute().

Files: https://drive.google.com/drive/folders/100vnccz9CiaI7qDuWPaazaET3eyo5wII?usp=sharing

<br>
#### Steps to Reproduce

1. Calculate ERSP with newtimef
         CompNum = 14;
         [ersp,itc,powbase,times,freqs,erspboot,itcboot,tfd

[2021-10-21 16:44] cll008 commented on #400
Hi Gagan, are you using the same EEGLAB version and the same preprocessing steps? Could you please share your preprocessing pipeline? For example, it's possible that a toolbox is missing and a different implementation of Fourier transform is used, which would lead to different results.

This may also be an issue with the darbeliai plugin...

[2021-10-21 17:53] GaganDK commented on #400
Hi Clement,

The responses to your queries:

   1. I have used the same version of Matlab(2021b) and EEGlab (2021,
   October) for 2 of the machines. The 3rd machine had a different version of
   EEGlab (v2020, updated in october-2021 ) and matlab (2019b).
   2. I have used the exact same pre-processed dataset in different
   machines. I am sharing the dataset.
   1. The pre-processing steps were: